Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

build/add-firstname-instead-of-username (#227)
  api/controllers/api/v1/final_scoreboard_admin_controller.go
  api/controllers/api/v1/final_scoreboard_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/middlewares/custom_authentication.go
  api/models/analytics_board_admin.go
  api/models/analytics_board_user.go
  api/models/final_scoreboard.go
  api/models/final_scoreboard_admin.go
  api/models/user_played_quizzes.go
  app/components/FinalScoreBoard.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/play/[code].vue
Due: go-vet

fix(score-logic-for-survey): Add logic to award score for survey questions where score is provided and do not award for survey questions where score is not provided (#236)
  api/controllers/api/v1/quiz_utilities_controller.go
  api/helpers/calculations/calculateScore.go
  api/helpers/calculations/calculateScore_test.go
  api/models/questions.go
Due: go-vet

fix: cleanup invitationcode store and userlist store when waiting space component unmounts (#242)
  app/components/Quiz/WaitingSpace.vue
Due: none

fix(accuracy-logic-userwise): fix userwise accuracy logic to count accuracy based on points instead of correct/incorrect (#240)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
Due: none

fix: Add up and down migration to alter old data and make points 0 where points were 1 (#243)
  api/database/migrations/20240717104743_alter_points_where_one.down.sql
  api/database/migrations/20240717104743_alter_points_where_one.up.sql
Due: none

feat: making the font of inviatation code larger (#266)
  app/components/Quiz/WaitingSpace.vue
  app/pages/join/index.vue
Due: none

feat: add kratos schema (#275)
  api/database/migrations/20240729125715_create_kratos_schema.down.sql
  api/database/migrations/20240729125715_create_kratos_schema.up.sql
Due: none

fix(participants-disconnect-issue): Issue of users getting disconnected in Waiting area (#272)
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/admin_operation.js
  app/composables/user_operation.js
  app/config/constants.js
  app/pages/join/play/[code].vue
Due: go-vet

feat/add-kratos-registration-flow (#270)
  api/.env.docker
  api/cli/create.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/user_controller.go
  api/docker-compose.yaml
  api/middlewares/authenticated.go
  api/models/questions.go
  api/models/user.go
  api/pkg/kratos/kratos.yml
  api/pkg/kratos/readme.md
  api/routes/main.go
  api/services/user_test.go
  app/nuxt.config.ts
  app/pages/account/register.vue
  app/store/userScoreboardData.js
  app/store/userlist.js
  app/store/users.js
  docker-compose.yaml
Due: go-vet

feat: add kratos login flow in quiz app (#271)
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/authenticated.go
  api/middlewares/custom_authentication.go
  api/pkg/kratos/kratos.yml
  app/components/utils/StartQuiz.vue
  app/composables/auth.js
  app/nuxt.config.ts
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/quiz/list-quiz.vue
  app/pages/join/index.vue
Due: go-vet

fix: changing docker envs
  app/.env.docker
Due: none

fix(accuracy-logic-to-correct-incorrect): Modify accuracy formula to calculate accuracy based on the correct and incorrect answers count (#274)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
Due: none

fix: username is now send by GetUserMeta whether it is kratos or guest user (#278)
  api/controllers/api/v1/user_controller.go
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

feature: hide input for username field for existing user(Issue #277) (#280)
  app/components/utils/StartQuiz.vue
  app/composables/auth.js
  app/nuxt.config.ts
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/quiz/list-quiz.vue
  app/pages/join/index.vue
Due: none

change-demo-csv (#284)
  app/public/files/demo.csv
Due: none

adding logout button (#193)
  app/composables/auth.js
  app/layouts/default.vue
Due: none

refactor/list-quiz-page (#283)
  app/app.vue
  app/components/FinalScoreBoard.vue
  app/composables/admin_operation.js
  app/composables/user_operation.js
  app/pages/admin/analysis.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/list-quiz.vue
  app/pages/join/play/[code].vue
Due: none

feat/add-profile-page (#286)
  api/config/kratos.go
  api/constants/constant.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/models/user.go
  api/models/user_played_quizzes.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  app/components/playedQuizListCard.vue
  app/layouts/default.vue
  app/pages/admin/[played_quiz_id]/index.vue
  app/pages/admin/index.vue
Due: go-vet

refactor: parse csv by header instead of row and column (#288)
  api/controllers/api/v1/quiz_utilities_controller.go
  api/controllers/api/v1/quiz_utilities_controller_test.go
  api/go.mod
  api/go.sum
  app/pages/admin/index.vue
Due: go-vet

fix: terminate quiz on unexpected exit of admin and guest user join issue (issue #282) (#287)
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/auth_controller_test.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/middlewares/authenticated.go
  api/models/user.go
  app/components/Quiz/WaitingSpace.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
  app/store/userlist.js
Due: go-vet

fix: also count Not Attempted survey in accuracy (#290)
  app/components/FinalScoreBoard.vue
  app/pages/admin/[played_quiz_id]/index.vue
Due: none

fix: change email in kratos also (#291)
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/metrics_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/helpers/quiz/quiz_helper.go
  api/middlewares/authenticated.go
  api/models/user.go
  api/services/user_test.go
  app/pages/admin/index.vue
Due: go-vet

refactor: remove middleware from frontend and create quick user properly and remove unnecessary api calling for user data (#297)
  api/constants/constant.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/user_controller.go
  api/models/user_played_quizzes.go
  api/routes/main.go
  app/components/Quiz/WaitingSpace.vue
  app/components/playedQuizListCard.vue
  app/composables/auth.js
  app/layouts/default.vue
  app/middleware/adminCheck.global.js
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/played_quiz/index.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/store/users.js
Due: go-vet

refactor: remove logic of storing user_played_quiz in cookie (#298)
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/final_scoreboard_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/middlewares/authenticated.go
  api/middlewares/custom_authentication.go
  api/middlewares/http_logger.go
  api/middlewares/played_quiz_validation.go
  api/models/user.go
  api/routes/main.go
  app/components/FinalScoreBoard.vue
  app/composables/user_operation.js
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

refactor: helper interface (#302)
  api/cli/create.go
  api/cli/main.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/helpers/calculations/calculateScore_test.go
  api/helpers/quiz/quiz_helper.go
  api/middlewares/authenticated.go
  api/middlewares/custom_authentication.go
  api/middlewares/middleware.go
  api/middlewares/role_permission.go
  api/pkg/redis/pub_sub_redis.go
  api/pkg/redis/redis.go
  api/routes/main.go
  api/utils/calculate_points_score.go
  api/utils/csv_operation.go
  app/components/utils/StartQuiz.vue
Due: go-vet

refactor: use $fetch instead of usefetch in create quiz (#303)
  app/pages/admin/quiz/create-quiz.vue
Due: none

Feature: add reports api and ui pages for admin (#296)
  api/controllers/api/v1/quiz_controller.go
  api/models/quiz.go
  api/routes/main.go
  app/assets/scss/theme.scss
  app/assets/scss/theme/_utilities.scss
  app/assets/stylesheet/index.css
  app/assets/template/js/main.js
  app/assets/template/js/sidebarMenu.js
  app/components/Header.vue
  app/components/Option.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/reports/PageLayout.vue
  app/components/utils/ConfirmModal.vue
  app/nuxt.config.ts
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/index.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/[id]/participants.vue
  app/pages/admin/reports/index.vue
  app/pages/index.vue
Due: go-vet

refactor/remove-userscoreboard-store (#306)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/composables/questions_analysis.js
  app/package-lock.json
  app/package.json
  app/pages/admin/analysis.vue
  app/pages/admin/reports/[id]/participants.vue
  app/store/userScoreboardData.js
Due: node-lint

feat: add-mutex and wrong answer highlight (#309)
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/ScoreSpace.vue
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

feature: Add accouont recovery and fix UI (Issue #300) (#308)
  api/pkg/kratos/kratos.yml
  app/assets/scss/theme/components/_layout.scss
  app/components/Header.vue
  app/components/Option.vue
  app/pages/account/login.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/recovery.vue
Due: none

notification step added in API-CI
  .github/workflows/build-push-api.yaml
Due: none

notification step added in APP-CI
  .github/workflows/build-push-app.yaml
Due: none

redesign-admin-analysis (#307)
  app/pages/admin/analysis.vue
Due: none

debug logs for admin disconnection issue (#312)
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/WaitingSpace.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

add debug log (#313)
  app/composables/quiz_operation.js
Due: none

adding the sort by latest and paginations to reports page (#311)
  app/pages/admin/reports/index.vue
Due: none

Revert "adding the sort by latest and paginations to reports page (#311)"
  app/pages/admin/reports/index.vue
Due: none

Revert "add debug log (#313)"
  app/composables/quiz_operation.js
Due: none

Revert "debug logs for admin disconnection issue (#312)"
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/WaitingSpace.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet
