Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

remove docker-compose for json-server and update lint command
  .husky/pre-commit
  app/jsonServer.Dockerfile
Due: none

fix docker probleam
  api/.env copy.testing
  api/.env.example
  api/.env.testing
  api/Dockerfile
  api/docker-compose.yaml
  api/routes/main.go
  app/.env.example
  app/Dockerfile
  docker-compose.yaml
Due: go-vet

add local envs
  api/.env.local
  app/.env.local
Due: none

update README.md
  README.md
Due: none

fix linting in node
  app/.pre-commit-config.yaml
  app/package-lock.json
  app/package.json
Due: node-lint

fix lint not working
  .husky/pre-commit
  app/package.json
Due: node-lint

reformat hooks files and pre-commit
  .pre-commit-config.yaml
  api/hooks/go-lint.sh
  api/hooks/go-test.sh
  api/hooks/go-vet.sh
Due: none

Update api/.github/CODEOWNERS
  api/.github/CODEOWNERS
Due: none

rename golang-api to quiz-app
  api/.env.example
  api/.env.local
  api/.github/settings.yml
  api/README.md
  api/cli/main.go
  api/docker-compose.yaml
  api/pkg/jwt/jwt.go
  api/pkg/kratos/kratos.yml
  api/pkg/kratos/local.sh
  docker-compose.yaml
Due: go-vet

rename temp compose
  api/docker-compose.yaml
  go.work.sum
Due: none

add command for admin creation
  api/.env.testing
  api/Makefile
  api/cli/create_defaults.go
  api/cli/main.go
  api/cli/migration.go
  api/constants/constant.go
  api/controllers/api/v1/user_controller.go
  api/controllers/api/v1/user_controller_test.go
  api/database/migrations/20240213163802_create_username_column.down.sql
  api/database/migrations/20240213163802_create_username_column.up.sql
  api/go.mod
  api/go.sum
  api/models/user.go
  api/utils/generators.go
  api/utils/validator.go
Due: go-vet

add migratation
  api/database/migrations/20240213191111_remove_unique_users_email.down.sql
  api/database/migrations/20240213191111_remove_unique_users_email.up.sql
Due: none

manual unique email check add, write migration to add username add, command to create admin
  api/cli/create_defaults.go
  api/database/migrations/20240213163802_create_username_column.down.sql
  api/database/migrations/20240213163802_create_username_column.up.sql
  api/database/migrations/20240213191111_remove_unique_users_email.down.sql
  api/database/migrations/20240213191111_remove_unique_users_email.up.sql
Due: go-vet

make generateStringWithSuffix in util
  api/cli/create_defaults.go
  api/utils/generators.go
Due: go-vet

add firstname and lastname support, divide command
  api/cli/create.go
  api/cli/create_defaults.go
  api/controllers/api/v1/quiz_controller.go
  api/models/user.go
Due: go-vet

update readme.md
  README.md
  api/services/user.go
Due: go-vet

create middleware for join user from end-point
  api/.air.toml
  api/assets/swagger.json
  api/cli/api.go
  api/cli/create.go
  api/components/quizGame.go
  api/components/quizTypes.go
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/database/migrations/20240214191648_remove_not_null_users_email.down.sql
  api/database/migrations/20240214191648_remove_not_null_users_email.up.sql
  api/go.mod
  api/go.sum
  api/middlewares/customAuth.go
  api/middlewares/middleware.go
  api/models/quiz.go
  api/models/user.go
  api/routes/main.go
Due: go-vet

fix: struct printing err, test cases
  api/.env.testing
  api/assets/swagger.json
  api/components/quizTypes.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_controller_test.go
  api/middlewares/customAuth.go
  api/pkg/structs/requests.go
  api/services/user_test.go
Due: go-vet

add quiz_controller
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_controller.go
  api/middlewares/customAuth.go
  api/models/user.go
  api/pkg/structs/requests.go
  api/routes/main.go
Due: go-vet

fix middleware not working properly
  api/components/quizGame.go
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/go.mod
  api/go.sum
  api/hooks/go-test.sh
  api/middlewares/customAuth.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/utils/json_response.go
Due: go-vet

change middleware checkers
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/middlewares/customAuth.go
  api/routes/main.go
Due: go-vet

file name change
  api/components/quizTypes.go
  api/middlewares/customAuthenticated.go
  api/routes/main.go
Due: go-vet

rename files
  api/components/quiz_game.go
  api/components/quiz_types.go
  api/middlewares/custom_authentication.go
Due: go-vet

feat: added s6-overlay to the quiz-app also modified dockerfile and also added the ci for build and push #18
  .github/workflows/build.yaml
  app/Dockerfile
  app/docker/nginx.conf
  app/s6-overlay/s6-rc.d/nginx/run
  app/s6-overlay/s6-rc.d/nginx/type
  app/s6-overlay/s6-rc.d/node/run
  app/s6-overlay/s6-rc.d/node/type
  app/s6-overlay/s6-rc.d/user/contents.d/nginx
  app/s6-overlay/s6-rc.d/user/contents.d/node
Due: none

fix: added correct context
  .github/workflows/build.yaml
Due: none

fix: username and password not showing
  api/controllers/api/v1/quiz_controller.go
  api/models/user.go
Due: go-vet

doc updated
  README.md
Due: none

update readme.md with dev setup instruction
  README.md
  api/controllers/api/v1/quiz_controller.go
Due: go-vet

fix: changed runner to ubuntu-latest
  .github/workflows/build.yaml
Due: none

feat: added modified dockerfile and also added the ci for build and push for qizz-api #28
  .github/workflows/build-push-api.yaml
  .github/workflows/build-push-app.yaml
  api/Dockerfile
Due: none

fix: changed runner to ubuntu-latest
  .github/workflows/build-push-api.yaml
Due: none

fix: added path condition in CI
  .github/workflows/build-push-api.yaml
  .github/workflows/build-push-app.yaml
Due: none

fix: added selfhosted runner to api ci
  .github/workflows/build-push-api.yaml
Due: none

add migrations of quiz-system
  api/database/migrations/20240215025156_create_table_quiz.down.sql
  api/database/migrations/20240215025156_create_table_quiz.up.sql
  api/database/migrations/20240215030020_create_table_questions.down.sql
  api/database/migrations/20240215030020_create_table_questions.up.sql
  api/database/migrations/20240215031712_create_table_quiz_session.down.sql
  api/database/migrations/20240215031712_create_table_quiz_session.up.sql
  api/database/migrations/20240215032821_create_table_session_user.down.sql
  api/database/migrations/20240215032821_create_table_session_user.up.sql
  api/database/migrations/20240215034326_create_table_session_user_questions.down.sql
  api/database/migrations/20240215034326_create_table_session_user_questions.up.sql
Due: none

write models and migrations
  api/controllers/api/v1/quiz_controller.go
  api/models/question.go
  api/models/quiz.go
  api/models/session.go
Due: go-vet

Revert "Update nuxt.config.ts" want to remove .env port change
  app/nuxt.config.ts
Due: none

fix nuxt not starting in custom port by manually exporting env var before starting nuxt
  app/.env.example
  docker-compose.yaml
Due: none

change nuxt config
  .gitignore
  .vscode/settings.json
  app/nuxt.config.ts
Due: none

Update nuxt.config.ts
  app/nuxt.config.ts
Due: none

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
