Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

feat(a11y): add skip link and main landmarks
  app/app.vue
  app/layouts/auth.vue
  app/layouts/empty.vue
Due: none

fix: validate quiz title length
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/database/migrations/20260907120000_alter_active_quizzes_title_length.down.sql
  api/database/migrations/20260907120000_alter_active_quizzes_title_length.up.sql
  api/pkg/structs/requests.go
  api/utils/validator.go
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

fix: validate quiz title length (#316)
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/database/migrations/20260907120000_alter_active_quizzes_title_length.down.sql
  api/database/migrations/20260907120000_alter_active_quizzes_title_length.up.sql
  api/pkg/structs/requests.go
  api/utils/validator.go
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

fix: prevent iOS Safari input focus zoom
  app/assets/css/main.css
Due: none

fix: prevent iOS Safari input focus zoom (#317)
  app/assets/css/main.css
Due: none

feat: add encrypted AI API key vault
  api/assets/swagger.json
  api/cli/api.go
  api/constants/constant.go
  api/controllers/api/v1/ai_controller.go
  api/database/migrations/20260910120000_create_ai_settings.down.sql
  api/database/migrations/20260910120000_create_ai_settings.up.sql
  api/middlewares/http_logger.go
  api/models/ai_settings.go
  api/models/ai_settings_integration_test.go
  api/pkg/structs/requests.go
  api/routes/main.go
  api/services/ai_quiz.go
  api/services/ai_vault.go
  api/utils/ai_questions.go
  api/utils/ai_questions_test.go
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
  app/store/aiSettings.js
Due: go-vet

feat: randomize answer options per player
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/database/migrations/20260908120000_alter_user_quiz_responses_add_option_order.down.sql
  api/database/migrations/20260908120000_alter_user_quiz_responses_add_option_order.up.sql
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/models/user_quiz_responses_test.go
Due: go-vet

feat: randomize answer options per player (#318)
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/database/migrations/20260908120000_alter_user_quiz_responses_add_option_order.down.sql
  api/database/migrations/20260908120000_alter_user_quiz_responses_add_option_order.up.sql
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/models/user_quiz_responses_test.go
Due: go-vet

feat: switch DiceBear avatars to Clay style
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/UserName.vue
  app/composables/avatar.js
  app/test/components/ListJoinUser.test.js
  app/test/components/Quiz/UserAnalyticsSpace.test.js
  app/test/components/ScoreBoardTable.test.js
  app/test/components/UserName.test.js
  app/test/components/WinnerCard.test.js
Due: none

feat: switch DiceBear avatars to Clay style (#319)
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/UserName.vue
  app/composables/avatar.js
  app/test/components/ListJoinUser.test.js
  app/test/components/Quiz/UserAnalyticsSpace.test.js
  app/test/components/ScoreBoardTable.test.js
  app/test/components/UserName.test.js
  app/test/components/WinnerCard.test.js
Due: none

feat: add redis-backed rate limiting for AI routes
  api/config/ai.go
  api/constants/constant.go
  api/middlewares/ai_rate_limit.go
  api/middlewares/ai_rate_limit_test.go
  api/middlewares/middleware.go
  api/routes/main.go
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
Due: go-vet

feat: add redis-backed rate limiting for AI routes
  api/config/ai.go
  api/constants/constant.go
  api/middlewares/ai_rate_limit.go
  api/middlewares/ai_rate_limit_test.go
  api/middlewares/middleware.go
  api/routes/main.go
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
  app/nuxt.config.ts
Due: go-vet

feat(quiz): add keyboard shortcuts for live quiz sessions
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/composables/useKeyboardShortcuts.js
  app/test/composables/useKeyboardShortcuts.test.js
Due: none

fix: update AI provider defaults
  app/config/aiProviders.js
Due: none

fix: clarify AI generation failures
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
  app/composables/aiGenerationError.js
  app/test/composables/aiGenerationError.test.js
Due: none

feat: improve AI provider defaults
  app/components/Quiz/AiSettingsForm.vue
  app/components/ui/select/JvSelect.vue
  app/config/aiProviders.js
  app/test/composables/aiGenerationError.test.js
Due: none

fix: guide users to invalid AI settings
  app/composables/aiGenerationError.js
  app/nuxt.config.ts
  app/test/composables/aiGenerationError.test.js
Due: none

fix: guide users to invalid AI settings
  app/composables/aiGenerationError.js
  app/test/composables/aiGenerationError.test.js
Due: none

feat: improve AI provider defaults and errors (#321)
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
  app/components/ui/select/JvSelect.vue
  app/composables/aiGenerationError.js
  app/config/aiProviders.js
  app/test/composables/aiGenerationError.test.js
Due: none

fix: remove application-level AI rate limiting
  api/config/ai.go
  api/constants/constant.go
  api/middlewares/ai_rate_limit.go
  api/middlewares/ai_rate_limit_test.go
  api/middlewares/middleware.go
  api/routes/main.go
  app/composables/avatar.js
Due: go-vet

fix: remove application-level AI rate limiting (#322)
  api/config/ai.go
  api/constants/constant.go
  api/middlewares/ai_rate_limit.go
  api/middlewares/ai_rate_limit_test.go
  api/middlewares/middleware.go
  api/routes/main.go
  app/composables/avatar.js
Due: go-vet

fix(a11y): keep one main landmark per page and unique skip target
  app/components/FinalScoreBoard.vue
  app/layouts/empty.vue
Due: none

feat: show masked API key in saved AI settings
  api/controllers/api/v1/ai_controller.go
  app/components/Quiz/AiSettingsForm.vue
  app/store/aiSettings.js
Due: go-vet

feat: show masked API key in saved AI settings
  api/controllers/api/v1/ai_controller.go
  app/components/Quiz/AiSettingsForm.vue
  app/nuxt.config.ts
  app/store/aiSettings.js
Due: go-vet

feat: show masked API key in saved AI settings (#323)
  api/controllers/api/v1/ai_controller.go
  app/components/Quiz/AiSettingsForm.vue
  app/store/aiSettings.js
Due: go-vet

fix: address review feedback on keyboard shortcuts
  app/composables/useKeyboardShortcuts.js
  app/test/composables/useKeyboardShortcuts.test.js
Due: none

fix: close QR overlay on Escape and show shortcut hints
  app/components/QrFullscreenOverlay.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/composables/useKeyboardShortcuts.js
  app/test/components/QrFullscreenOverlay.test.js
  app/test/composables/useKeyboardShortcuts.test.js
Due: none

test: shorten keyboard shortcut test names
  app/test/composables/useKeyboardShortcuts.test.js
Due: none

fix: let the host press Enter on the score screen to continue
  app/components/Quiz/ScoreSpace.vue
  app/test/components/Quiz/ScoreSpaceShortcuts.test.js
Due: none

fix(api): preserve shuffled answers on score reveal
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/quiz_socket_controller_test.go
  api/models/user_quiz_responses.go
  api/models/user_quiz_responses_test.go
Due: go-vet

fix: use player's option order in scoreboard and review views
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/analytics_board_user.go
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/models/user_quiz_responses_test.go
  api/pkg/structs/response.go
Due: go-vet

fix: use player's option order in scoreboard and review views (#326)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/analytics_board_user.go
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/models/user_quiz_responses_test.go
  api/pkg/structs/response.go
Due: go-vet

fix: improve account recovery OTP validation and error handling
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/recovery.vue
Due: none

fix: improve account recovery OTP validation and error handling (#327)
  app/nuxt.config.ts
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/recovery.vue
Due: none

feat: add ai quiz generation documentation
  README.md
  docs/ai-quiz-generation.md
  docs/architecture.md
  docs/getting-started.md
Due: none

feat: add ai quiz generation documentation (#328)
  README.md
  docs/ai-quiz-generation.md
  docs/architecture.md
  docs/getting-started.md
Due: none

implemented playwright testcases (#136)
  .gitignore
  package-lock.json
  package.json
  playwright.config.js
  playwright.unit.config.js
  tests/auth.setup.js
  tests/e2e/quiz_flow.spec.js
  tests/e2e/share_quiz.spec.js
  tests/fixtures.js
  tests/integration/join_quiz.spec.js
  tests/integration/quizzes.spec.js
  tests/integration/share_flow.spec.js
  tests/unit/join_quiz.spec.js
  tests/unit/profile.spec.js
  tests/unit/quizzes.spec.js
  tests/unit/reports.spec.js
  tests/unit/share_quiz.spec.js
Due: node-lint

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
