Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

feat: validate quiz CSV uploads (#242)
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/utils/csv_operation.go
  api/utils/csv_operation_test.go
Due: go-vet

feat: improve winner screen
  app/components/FinalScoreBoard.vue
  app/components/WinnerConfetti.vue
  app/nuxt.config.ts
Due: none

feat: improve winner screen
  app/components/FinalScoreBoard.vue
  app/components/WinnerConfetti.vue
Due: none

feat: improve winner screen (#244)
  app/components/FinalScoreBoard.vue
  app/components/WinnerConfetti.vue
Due: none

feat: auto-terminate active quizzes after 24 hours
  api/.env.example
  api/cli/api.go
  api/config/quiz.go
  api/models/active_quizzes.go
Due: go-vet

feat: auto-terminate active quizzes after 24 hours (#245)
  api/.env.example
  api/cli/api.go
  api/config/quiz.go
  api/models/active_quizzes.go
Due: go-vet

feat : add SEO meta, sitemap, and robots support
  app/app.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
Due: node-lint

fix : og image updated
  app/app.vue
  app/public/og-image.png
Due: none

fix: showed session invalid once the quiz is played
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/user_operation.js
  app/pages/admin/arrange/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

feat : add SEO meta, sitemap, and robots support (#250)
  app/app.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
  app/public/og-image.png
Due: node-lint

Revert "feat : add SEO meta, sitemap, and robots support (#250)"
  app/app.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
  app/public/og-image.png
Due: node-lint

Revert "feat : add SEO meta, sitemap, and robots support (#250)" (#254)
  app/app.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
  app/public/og-image.png
Due: node-lint

feat: add SEO meta sitemap and robots support
  app/app.vue
  app/nuxt.config.ts
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
  app/public/og-image.png
Due: node-lint

feat: add SEO meta sitemap and robots support (#255)
  app/app.vue
  app/nuxt.config.ts
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/admin/scoreboard.vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/pages/verification.vue
  app/public/og-image.png
Due: node-lint

fix: fixed npm dependency graph
  app/package-lock.json
Due: none

fix: replace old logo with new logo across app
  app/pages/index.vue
  app/pages/join/index.vue
  app/pages/recovery.vue
  app/public/jovvix-logo.png
Due: none

fix: replace old logo with new logo across app (#257)
  app/pages/index.vue
  app/pages/join/index.vue
  app/pages/recovery.vue
  app/public/jovvix-logo.png
Due: none

feat: scroll to public quiz section from browse link
  app/components/landing/PublicQuizSection.vue
  app/pages/index.vue
  app/pages/join/index.vue
Due: none

feat: scroll to public quiz section from browse link (#259)
  app/components/landing/PublicQuizSection.vue
  app/pages/index.vue
  app/pages/join/index.vue
Due: none

fix: standardize sign up placeholders and capitalize heading
  app/pages/account/register.vue
Due: none

fix: standardize sign up placeholders and capitalize heading (#260)
  app/pages/account/register.vue
Due: none

fix: correct invisible overview heading color in quiz report
  app/pages/admin/reports/[id]/index.vue
Due: none

fix: correct invisible overview heading color in quiz report (#261)
  app/pages/admin/reports/[id]/index.vue
Due: none

fix: align class accuracy stat numbers in quiz report
  app/pages/admin/reports/[id]/index.vue
  app/pages/recovery.vue
Due: none

fix: align class accuracy stat numbers in quiz report (#262)
  app/pages/admin/reports/[id]/index.vue
  app/pages/recovery.vue
Due: none

feat: tighten landing spacing to surface public quiz section
  app/components/Quiz/JoinLiveQuiz.vue
  app/components/landing/HeroSection.vue
  app/components/landing/PublicQuizSection.vue
  app/pages/index.vue
Due: none

feat: tighten landing spacing to surface public quiz section (#263)
  app/components/Quiz/JoinLiveQuiz.vue
  app/components/landing/HeroSection.vue
  app/components/landing/PublicQuizSection.vue
  app/pages/index.vue
Due: none

fix: fix docker compose file for running migrations
  app/nuxt.config.ts
  docker-compose.yaml
Due: none

fix: fix docker compose file for running migrations
  docker-compose.yaml
Due: none

feat: public quiz categories added
  api/constants/constant.go
  api/controllers/api/v1/quiz_category_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/database/migrations/20260708100000_create_table_quiz_categories.down.sql
  api/database/migrations/20260708100000_create_table_quiz_categories.up.sql
  api/database/migrations/20260708100100_alter_quizzes_add_category_and_cover_image.down.sql
  api/database/migrations/20260708100100_alter_quizzes_add_category_and_cover_image.up.sql
  api/models/quiz.go
  api/models/quiz_category.go
  api/models/shared_quizzes.go
  api/pkg/structs/requests.go
  api/routes/main.go
  app/components/common/Sidebar.vue
  app/components/landing/PublicQuizCard.vue
  app/components/landing/PublicQuizSection.vue
  app/components/ui/carousel/CarouselContent.vue
  app/pages/admin/categories/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat:Close Option for Quizzes
  app/components/Quiz/WaitingSpace.vue
Due: none

feat:Close Option for Quizzes (#265)
  app/components/Quiz/WaitingSpace.vue
Due: none

feat: share public quiz management across admins and preserve on deletion
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/middlewares/quiz_permission.go
  api/models/quiz.go
  api/models/shared_quizzes.go
Due: go-vet

feat: public quiz categories added (#266)
  api/constants/constant.go
  api/controllers/api/v1/quiz_category_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/database/migrations/20260708100000_create_table_quiz_categories.down.sql
  api/database/migrations/20260708100000_create_table_quiz_categories.up.sql
  api/database/migrations/20260708100100_alter_quizzes_add_category_and_cover_image.down.sql
  api/database/migrations/20260708100100_alter_quizzes_add_category_and_cover_image.up.sql
  api/middlewares/quiz_permission.go
  api/models/quiz.go
  api/models/quiz_category.go
  api/models/shared_quizzes.go
  api/pkg/structs/requests.go
  api/routes/main.go
  app/components/common/Sidebar.vue
  app/components/landing/PublicQuizCard.vue
  app/components/landing/PublicQuizSection.vue
  app/components/ui/carousel/CarouselContent.vue
  app/pages/admin/categories/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat: end quiz button for admins
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

feat: end quiz missing changes
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: none

feat: change cover image & category in public quiz
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/helpers/utils/converter.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/services/quiz.go
  api/utils/cover_image.go
  app/components/landing/PublicQuizSection.vue
  app/composables/cover_image.js
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat: change cover image & category in public quiz (#268)
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/helpers/utils/converter.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/services/quiz.go
  api/utils/cover_image.go
  app/components/landing/PublicQuizSection.vue
  app/composables/cover_image.js
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat: end quiz button for admins (#267)
  api/controllers/api/v1/quiz_socket_controller.go
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
