Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

rename method GetMyQuiz
  api/controllers/api/v1/quiz_controller.go
  api/routes/main.go
  app/components/Quiz/WaitingSpace.vue
Due: go-vet

database down migratation issue
  api/database/migrations/20240216144246_create_column_next_question_quiz_questions.down.sql
  api/database/migrations/20240219012502_remove_column_max_attemt.down.sql
Due: none

fix min-max code
  api/constants/constant.go
  api/helpers/utils/validating.go
  api/models/quiz_sessions.go
Due: go-vet

remove quiz_event
  api/pkg/structs/quiz_event.go
Due: go-vet

resolve spell-mistake
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/custom_authentication.go
  api/routes/main.go
Due: go-vet

remove console.log
  app/components/Playground.vue
  app/composables/quiz_operation.js
Due: none

component probleam
  app/composables/quiz_operation.js
Due: none

move invitationCode to constants
  app/components/Quiz/WaitingSpace.vue
  app/config/constants.js
Due: none

remove log from error file and change address of session
  app/pages/admin/arrange/[session_id].vue
  app/pages/error.vue
Due: none

change import syntext of composable
  app/pages/join/play/[code].vue
Due: none

change console log to toast
  app/pages/join/play/[code].vue
Due: none

remove yarn.json
  app/package-lock.json
  app/yarn.lock
Due: none

remove go.work file
  api/hooks/go-lint.sh
  api/hooks/go-test.sh
  api/hooks/go-vet.sh
  go.work
  go.work.sum
Due: go-lint, go-test

fix username probleam
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/user_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/pages/account/login.vue
  app/pages/join/index.vue
Due: none

fix middleware entities to uppercase
  api/controllers/api/v1/quiz_socket_controller.go
  api/helpers/utils/converter.go
  api/middlewares/RolePermission.go
  api/middlewares/authenticated.go
  api/middlewares/custom_authentication.go
  api/middlewares/middleware.go
  api/routes/main.go
Due: go-vet

fix rename role to activity
  api/models/quiz.go
Due: go-vet

rename code to invitation code
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/go.mod
  api/helpers/utils/validating.go
  api/middlewares/custom_authentication.go
  api/models/quiz_sessions.go
  api/routes/main.go
  app/components/Quiz/WaitingSpace.vue
  app/config/constants.js
Due: go-vet

rename helperStruct to helperGroup
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/helpers/quiz/quiz_helper.go
  api/routes/main.go
Due: go-vet

rename quizSession to activeQuiz
  api/controllers/api/v1/quiz_socket_controller.go
  api/helpers/quiz/quiz_helper.go
  api/models/quiz_sessions.go
Due: go-vet

fix quiz not activated
  api/constants/constant.go
  api/models/quiz.go
  api/models/quiz_sessions.go
Due: go-vet

rename table active_quiz
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20240301103243_rename_column_code_quiz_session.down.sql
  api/database/migrations/20240301103243_rename_column_code_quiz_session.up.sql
  api/database/migrations/20240301103639_rename_table_active_quiz_quiz_session.down.sql
  api/database/migrations/20240301103639_rename_table_active_quiz_quiz_session.up.sql
  api/database/migrations/20240301105318_create_table_session_questions.down.sql
  api/database/migrations/20240301105318_create_table_session_questions.up.sql
  api/helpers/quiz/quiz_helper.go
  api/middlewares/role_permission.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/models/quiz.go
  api/models/user_question_answer.go
  api/models/user_quiz_session.go
Due: go-vet

remove log and rename some variables
  api/controllers/api/v1/user_controller.go
  app/components/Quiz/WaitingSpace.vue
  app/middleware/adminCheck.global.js
  app/pages/error.vue
Due: go-vet

resolve conflicts
  app/composables/envs.js
  app/pages/index.vue
Due: none

change route
  api/routes/main.go
  app/composables/auth.js
Due: go-vet

define new route and solve static jwt issuer
  api/.env.docker
  api/.env.example
  api/config/main.go
  api/models/pub_sub_redis.go
  api/pkg/jwt/jwt.go
  api/routes/main.go
  app/composables/auth.js
Due: go-vet

fix make down gives error
  api/database/migrations/20240301103639_rename_table_active_quiz_quiz_session.down.sql
Due: none

remove session library
  app/components/Quiz/WaitingSpace.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/middleware/adminCheck.global.js
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: node-lint

Update adminCheck.global.js
  app/middleware/adminCheck.global.js
Due: none

create-basic-structure
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/pub_sub_redis.go
  api/models/questions.go
  api/models/quiz.go
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/config/constants.js
  app/middleware/adminCheck.global.js
Due: go-vet

Update auth.js
  app/composables/auth.js
Due: none

add initial timer
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/questions.go
  api/models/quiz.go
  app/components/Quiz/QuestionSpace.vue
  app/config/constants.js
Due: go-vet

fix username is undefined
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: none

remove redudents
  app/middleware/adminCheck.global.js
Due: none

fix some ui and add logger in quiz_operation
  api/constants/constant.go
  app/components/Frame.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

Revert "fix: some ui and add logger in quiz_operation to solve all-param-required"
  api/constants/constant.go
  app/components/Frame.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

remove cookie from quiz_operation
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

feat add path join
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/quiz_operation.js
  app/layouts/default.vue
Due: go-vet

handle retring
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: none

initially start event handling
  api/controllers/api/v1/quiz_socket_controller.go
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

handle score redirection to another page
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Frame.vue
  app/components/Quiz/QuestionSpace.vue
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
  app/pages/join/scoreboard.vue
Due: go-vet
