Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

fix: make email immutable
  api/controllers/api/v1/auth_controller.go
  api/models/user.go
  api/pkg/structs/requests.go
  app/pages/admin/index.vue
Due: go-vet

fix: remove duplicate email assignment
  app/pages/admin/index.vue
Due: none

fix: make email immutable (#176)
  api/controllers/api/v1/auth_controller.go
  api/models/user.go
  api/pkg/structs/requests.go
  app/pages/admin/index.vue
Due: go-vet

fix: resolve NaN timer issue on quiz page refresh
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

fix: resolve NaN timer issue on quiz page refresh (#190)
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

fix: fixed pre commit hook
  .husky/pre-commit
  app/components/Quiz/QuestionSpace.vue
  app/nuxt.config.ts
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/index.vue
  app/pages/index.vue
  app/pages/recovery.vue
  app/pages/verification.vue
Due: node-lint

fix: remove unwanted css class variable and update readme
  README.md
  app/assets/css/main.css
  app/tsconfig.json
Due: none

feat: landing page
  app/components/landing/HeroActionCard.vue
  app/components/landing/HeroSection.vue
  app/components/landing/JoinQuizSection.vue
  app/components/landing/LandingPillButton.vue
  app/components/landing/LandingSidebar.vue
  app/components/landing/LandingTopActions.vue
  app/components/landing/PublicQuizCard.vue
  app/components/landing/PublicQuizSection.vue
  app/pages/index.vue
Due: none

fix: modified homepage
  app/app.vue
  app/assets/css/main.css
  app/components/Quiz/JoinLiveQuiz.vue
  app/components/common/NavigationLink.vue
  app/components/landing/HeroActionCard.vue
  app/components/landing/HeroSection.vue
  app/components/landing/LandingPillButton.vue
  app/components/landing/LandingSidebar.vue
  app/components/landing/LandingTopActions.vue
  app/components/landing/PublicQuizCard.vue
  app/components/landing/PublicQuizSection.vue
  app/components/landing/Sidebar.vue
  app/components/ui/button/Button.vue
  app/components/ui/button/index.ts
  app/components/ui/carousel/Carousel.vue
  app/components/ui/carousel/CarouselContent.vue
  app/components/ui/carousel/CarouselItem.vue
  app/components/ui/carousel/CarouselNext.vue
  app/components/ui/carousel/CarouselPrevious.vue
  app/components/ui/carousel/index.ts
  app/components/ui/carousel/interface.ts
  app/components/ui/carousel/useCarousel.ts
  app/layouts/empty.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/index.vue
  app/public/images/landing/homepage-hero-section.png
  app/public/images/landing/homepage-public-quiz-1.png
  app/public/images/landing/homepage-public-quiz-2.png
  app/public/images/landing/homepage-public-quiz-3.png
  app/public/images/landing/homepage-public-quiz-4.png
Due: node-lint

fix: redesign login and signup page
  app/components/common/NavigationLink.vue
  app/components/common/TopNav.vue
  app/layouts/auth.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
Due: none

fix: redesign quiz join page
  app/pages/join/index.vue
Due: none

feat: created quiz list page
  app/components/common/Sidebar.vue
  app/components/landing/Sidebar.vue
  app/components/quiz-list/AdminQuizListCard.vue
  app/layouts/empty.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

feat: quiz waiting lobby
  app/.nuxtrc
  app/components/Quiz/WaitingSpace.vue
  app/components/quiz-list/AdminQuizListCard.vue
Due: none

Improve responsive quiz pages
  app/components/Quiz/WaitingSpace.vue
  app/components/quiz-list/AdminQuizListCard.vue
  app/layouts/empty.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/join/play/[code].vue
Due: none

fix(ui): align waiting lobby and quiz list layouts
  app/components/Quiz/WaitingSpace.vue
  app/components/quiz-list/AdminQuizListCard.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

fix(ui): align waiting lobby and quiz list layouts (#198)
  app/components/Quiz/WaitingSpace.vue
  app/components/quiz-list/AdminQuizListCard.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

feat: profile page added
  app/components/common/Sidebar.vue
  app/pages/admin/index.vue
Due: none

feat: profile page added (#199)
  app/components/common/Sidebar.vue
  app/pages/admin/index.vue
Due: none

feat: quiz report page
  app/components/Pagination.vue
  app/pages/admin/reports/index.vue
Due: none

feat: quiz analysis
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/reports/PageLayout.vue
  app/pages/admin/reports/[id]/index.vue
Due: none

fix: add profile tab after login
  app/assets/css/main.css
  app/assets/images/jovvix-logo.svg
  app/components/common/NavigationLink.vue
  app/components/common/Sidebar.vue
  app/components/common/TopNav.vue
  app/components/ui/popover/Popover.vue
  app/components/ui/popover/PopoverAnchor.vue
  app/components/ui/popover/PopoverContent.vue
  app/components/ui/popover/PopoverTrigger.vue
  app/components/ui/popover/index.ts
  app/components/ui/skeleton/Skeleton.vue
  app/components/ui/skeleton/index.ts
  app/composables/auth.js
  app/package-lock.json
  app/pages/account/login.vue
Due: none

feat: add user waiting page
  app/assets/css/main.css
  app/components/Quiz/WaitingSpace.vue
  app/components/Quiz/WaitingSpacePlayerSkeleton.vue
  app/components/Quiz/WaitingSpaceSkeleton.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: none

fix: consolidate quiz components and centralize image type constants
  app/components/Quiz/EditQuestion.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/components/utils/CreateQuiz.vue
  app/components/utils/StartQuiz.vue
  app/config/constants.js
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: render code and image media in question and option cards
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

feat: view quiz page
  api/.env.example
  api/config/quiz.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/models/questions.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/services/quiz.go
  app/components/common/Sidebar.vue
  app/components/landing/LandingTopActions.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/components/utils/CreateQuiz.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

fix: prevent immediate API calls when editing quiz settings
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: restyle question card and edit form
  app/components/common/NavigationLink.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

feat: view quiz page (#203)
  api/.env.example
  api/config/quiz.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/models/questions.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/services/quiz.go
  app/components/Quiz/EditQuestion.vue
  app/components/common/NavigationLink.vue
  app/components/common/Sidebar.vue
  app/components/landing/LandingTopActions.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/components/utils/CreateQuiz.vue
  app/components/utils/StartQuiz.vue
  app/config/constants.js
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat: quiz analysis (#204)
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/reports/PageLayout.vue
  app/pages/admin/reports/[id]/index.vue
Due: none

fix(pagination): use NavigationLink for pagination arrows
  app/components/Pagination.vue
  app/components/common/NavigationLink.vue
Due: none

feat: add quiz report detail modals
  app/components/Quiz/QuestionDetailModal.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/reports/[id]/index.vue
Due: none

feat: quiz report page (#202)
  app/components/Pagination.vue
  app/components/Quiz/QuestionDetailModal.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/common/NavigationLink.vue
  app/components/reports/PageLayout.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
Due: none

fix: admin quiz card actions buttons
  app/components/quiz-list/AdminQuizListCard.vue
Due: none

fix: questions page
  app/components/FinalScoreBoard.vue
  app/components/Option.vue
  app/components/Quiz/Analysis.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/OptionsAnalysis.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/StatisticsBadges.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/Quiz/WaitingSpaceSkeleton.vue
  app/components/ScoreBoardTable.vue
  app/components/WinnerCard.vue
  app/components/utils/ConfirmModal.vue
  app/composables/questions_analysis.js
  app/composables/quiz_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/scoreboard.vue
  app/pages/join/[user]/scoreboard.vue
  app/pages/join/index.vue
  app/store/session.js
Due: none

fix: move played quiz list into profile page
  app/components/QuizListCard.vue
  app/components/utils/StartQuiz.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/index.vue
Due: none

feat: add drag and drop question ordering
  api/controllers/api/v1/quiz_controller.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/pkg/structs/requests.go
  api/services/quiz.go
  app/package-lock.json
  app/package.json
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet, node-lint

feat: store quiz images as base64
  api/.env.example
  api/config/aws.go
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/image_controller.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/go.mod
  api/go.sum
  api/models/questions.go
  api/routes/main.go
  api/services/file_upload.go
  api/services/presigned_url.go
  app/.env.example
  app/components/Quiz/EditQuestion.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/nuxt.config.ts
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

feat: add running quiz bar
  app/app.vue
  app/components/Header.vue
  app/components/common/RunningQuizBanner.vue
Due: none
