Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

fix : remove dead code from handleConnectedUser
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

implemented playwright testcases
  .gitignore
  package-lock.json
  package.json
  playwright.config.js
  playwright.unit.config.js
  tests/auth.setup.js
  tests/e2e/quiz_flow.spec.js
  tests/e2e/share_quiz.spec.js
  tests/fixtures.js
  tests/integration/join_quiz.spec.js
  tests/integration/quizzes.spec.js
  tests/integration/share_flow.spec.js
  tests/unit/join_quiz.spec.js
  tests/unit/profile.spec.js
  tests/unit/quizzes.spec.js
  tests/unit/reports.spec.js
  tests/unit/share_quiz.spec.js
Due: node-lint

persist last component before admin exit in localstorage, and reconnect if lastcomponent was waiting
  app/components/utils/StartQuiz.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/stored_socket.js
  app/pages/admin/arrange/[session_id].vue
  app/store/session.js
Due: none

persist last component before admin exit in localstorage, and reconnect if lastcomponent was waiting (#135)
  app/components/utils/StartQuiz.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/stored_socket.js
  app/pages/admin/arrange/[session_id].vue
  app/store/session.js
Due: none

fix: Ask user to re-login instead of logging out on session invalidation
  api/pkg/redis/pub_sub_redis.go
  app/pages/account/login.vue
  app/pages/admin/index.vue
Due: go-vet

fix: use NUXT_PUBLIC_ env for privileged session max age
  app/.env.example
  app/nuxt.config.ts
  app/pages/account/change-password.vue
Due: none

fix: update privileged session max age from 1 to 15 minutes
  app/.env.example
Due: none

Fix: redirect to login when privileged session expires (#128)
  api/config/kratos.go
  api/pkg/redis/pub_sub_redis.go
  app/.env.example
  app/nuxt.config.ts
  app/pages/account/change-password.vue
  app/pages/account/login.vue
  app/pages/admin/index.vue
  app/pages/recovery.vue
Due: go-vet

feat: add dedicated forgot password page with email input
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
Due: none

fix: encode quiz title in upload URL path
  app/pages/admin/quiz/create-quiz.vue
Due: none

fix: redirect to /admin after password change to avoid landing on home
  app/pages/account/change-password.vue
Due: none

feat: add dedicated forgot password page with email input (#143)
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
Due: none

fix: encode quiz title in upload URL path (#145)
  app/pages/admin/quiz/create-quiz.vue
Due: none

fix: use default cursor on analysis screen options
  app/components/Option.vue
Due: none

fix: redirect to /admin after password change to avoid landing on home (#146)
  app/pages/account/change-password.vue
Due: none

fix: use default cursor on analysis screen options (#147)
  app/components/Option.vue
Due: none

fix: rename "Send Reset Password Link" to "Send Reset Password Code"
  app/pages/account/forgot-password.vue
Due: none

fix: rename "Send Reset Password Link" to "Send Reset Password Code" (#148)
  app/pages/account/forgot-password.vue
Due: none

fix: remove favicon background
  app/public/favicon.ico
Due: none

fix: remove favicon background (#149)
  app/public/favicon.ico
Due: none

fix: prevent long shared email from breaking authorize user row
  app/components/Quiz/ShareQuizAuthorizeUser.vue
Due: none

fix: deactivate session on terminate and lock edits only for active runs
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  app/components/Header.vue
Due: go-vet

fix: sync email verification state when user updates email
  api/models/user.go
  app/pages/admin/index.vue
Due: go-vet

fix: prevent long shared email from breaking authorize user row (#154)
  app/components/Quiz/ShareQuizAuthorizeUser.vue
Due: none

feat: add question versioning on edit
  api/controllers/api/v1/question_controller.go
  api/models/questions.go
  api/services/quiz.go
Due: go-vet

fix: revert logic of edit access
  api/models/active_quizzes.go
Due: go-vet

fix: remove redundant UUID parsing before deactivate
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

fix: replace favicon with high-resolution icon
  app/public/favicon.ico
Due: none

fix: replace favicon with high-resolution icon (#161)
  app/public/favicon.ico
Due: none

fix: enforce edit lock during active quizzes
  api/models/active_quizzes.go
  api/models/questions.go
Due: go-vet

fix: update quiz logo to match jovVix branding
  app/assets/images/QuestionLogo.webp
Due: none

fix: improve styling of quiz "Get back / Close" notification bar
  app/components/Header.vue
Due: none

fix: add and fix test cases for utils and quiz helper functions
  api/helpers/utils/converter_test.go
  api/helpers/utils/generators_test.go
  api/helpers/utils/validating_test.go
  api/utils/validator_test.go
Due: go-vet

fix: improve styling of quiz "Get back / Close" notification bar (#167)
  app/components/Header.vue
Due: none

fix: update quiz logo to match jovVix branding (#166)
  app/assets/images/QuestionLogo.webp
Due: none

fix: add logging to Terminate endpoint error handling
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

fix: removed commented controller
  api/models/questions.go
Due: go-vet

fix: deactivate session on terminate (#155)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  app/components/Header.vue
Due: go-vet

fix: add and fix test cases for utils and quiz helper functions (#168)
  api/helpers/utils/converter_test.go
  api/helpers/utils/generators_test.go
  api/helpers/utils/validating_test.go
  api/utils/validator_test.go
Due: go-vet

feat: add question versioning on edit (#160)
  api/controllers/api/v1/question_controller.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/services/quiz.go
Due: go-vet

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
