Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

fix: label paused quiz button as resume and group host controls (#286)
  app/pages/admin/arrange/[session_id].vue
Due: none

fix: remove hardcoded url on join live quiz card on homepage
  app/components/Quiz/JoinLiveQuiz.vue
Due: none

fix: collapse running quiz banner into scrollable panel for multiple sessions
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  api/models/user_played_quizzes.go
  api/routes/main.go
  app/components/common/RunningQuizBanner.vue
  app/composables/quiz_operation.js
  app/store/session.js
  app/store/userlist.js
Due: go-vet

fix: collapse running quiz banner into scrollable panel for multiple sessions (#287)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  api/models/user_played_quizzes.go
  api/routes/main.go
  app/components/common/RunningQuizBanner.vue
  app/composables/quiz_operation.js
  app/store/session.js
  app/store/userlist.js
Due: go-vet

fix: validate quiz points and duration before saving
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: validate quiz points and duration before saving (#288)
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: reword quiz report overview and fix avg answer time
  app/pages/admin/reports/[id]/index.vue
Due: none

fix: reword quiz report overview and fix avg answer time (#289)
  app/pages/admin/reports/[id]/index.vue
Due: none

feat: resize images in browser before storing as base64
  app/.env.example
  app/components/Quiz/EditQuestion.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/composables/cover_image.js
  app/composables/image_resize.js
  app/nuxt.config.ts
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

feat: resize images in browser before storing as base64 (#290)
  app/.env.example
  app/components/Quiz/EditQuestion.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/composables/cover_image.js
  app/composables/image_resize.js
  app/nuxt.config.ts
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

feat: serve optimized images via NuxtImg
  app/components/FinalScoreBoard.vue
  app/components/ListJoinUser.vue
  app/components/Option.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/HostNameModal.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionDetailModal.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/QuizCoverImage.vue
  app/components/ScoreBoardTable.vue
  app/components/UserName.vue
  app/components/WinnerCard.vue
  app/components/common/Sidebar.vue
  app/components/common/TopNav.vue
  app/components/landing/HeroSection.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/admin/index.vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/join/index.vue
  app/pages/recovery.vue
  app/public/images/add-file.webp
  app/public/images/jovvix-logo.png
  app/public/images/list.webp
  app/public/images/share-with-me.webp
  app/public/images/shared-file.webp
  app/test/components/Quiz/WaitingSpace.test.js
Due: node-lint

feat: serve optimized images via NuxtImg (#291)
  app/components/FinalScoreBoard.vue
  app/components/ListJoinUser.vue
  app/components/Option.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/HostNameModal.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionDetailModal.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/QuizCoverImage.vue
  app/components/ScoreBoardTable.vue
  app/components/UserName.vue
  app/components/WinnerCard.vue
  app/components/common/Sidebar.vue
  app/components/common/TopNav.vue
  app/components/landing/HeroSection.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/admin/index.vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/join/index.vue
  app/pages/recovery.vue
  app/public/images/add-file.webp
  app/public/images/jovvix-logo.png
  app/public/images/list.webp
  app/public/images/share-with-me.webp
  app/public/images/shared-file.webp
  app/test/components/Quiz/WaitingSpace.test.js
Due: node-lint

fall back to verifiable address when email trait is empty
  app/pages/admin/index.vue
Due: none

fall back to verifiable address when email trait is empty (#292)
  app/pages/admin/index.vue
Due: none

validate first name length
  api/pkg/kratos/identity.schema.json
  api/pkg/kratos/oidc/google.schema.jsonnet
  app/pages/account/register.vue
Due: none

validate first name length (#293)
  api/pkg/kratos/identity.schema.json
  api/pkg/kratos/oidc/google.schema.jsonnet
  app/pages/account/register.vue
Due: none

fix: show 5 played quiz cards per row for even pagination rows
  app/components/QuizListCard.vue
  app/pages/admin/index.vue
Due: none

fix: show 5 played quiz cards per row for even pagination rows (#294)
  app/components/QuizListCard.vue
  app/pages/admin/index.vue
Due: none

fix: apply consistent points and duration limits across quiz creation
  api/.env.example
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/pkg/structs/requests.go
  api/utils/csv_operation.go
  app/config/constants.js
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

fix: apply consistent points and duration limits across quiz creation (#295)
  api/.env.example
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/pkg/structs/requests.go
  api/utils/csv_operation.go
  app/config/constants.js
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

fix: keep quiz session ids out of the player URL
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/store/session.js
Due: none

fix: keep quiz session ids out of the player URL (#296)
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/store/session.js
Due: none

fix: ai
  api/.env.docker
  api/.env.example
  api/assets/swagger.json
  api/cli/api.go
  api/config/ai.go
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/ai_controller.go
  api/middlewares/http_logger.go
  api/models/questions.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/services/ai_credentials.go
  api/services/ai_quiz.go
  api/utils/ai_errors.go
  api/utils/ai_questions.go
  api/utils/ai_url.go
  api/utils/swagger_structs.go
  app/components/Quiz/AiSettingsForm.vue
  app/components/Quiz/GenerateWithAiModal.vue
  app/components/common/Sidebar.vue
  app/components/landing/LandingTopActions.vue
  app/components/ui/modal/Modal.vue
  app/components/ui/select/JvSelect.vue
  app/composables/apiError.js
  app/composables/quizLanguage.js
  app/config/aiProviders.js
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/store/aiSettings.js
Due: go-vet

feat: show question points and explain scoring to players
  .tool-versions
  api/controllers/api/v1/quiz_socket_controller.go
  api/utils/calculate_points_score.go
  api/utils/calculate_points_score_test.go
  app/components/Quiz/QuestionSpace.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

feat: show question points and explain scoring to players (#297)
  .tool-versions
  api/controllers/api/v1/quiz_socket_controller.go
  api/utils/calculate_points_score.go
  api/utils/calculate_points_score_test.go
  app/components/Quiz/QuestionSpace.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

fix: improve waiting space mobile layout
  app/components/Quiz/WaitingSpace.vue
  app/components/landing/HeroSection.vue
  app/test/components/Quiz/WaitingSpace.test.js
Due: none

fix: improve waiting space mobile layout (#300)
  app/components/Quiz/WaitingSpace.vue
  app/components/landing/HeroSection.vue
  app/test/components/Quiz/WaitingSpace.test.js
Due: none

fix: stop winning music on home navigation
  app/components/FinalScoreBoard.vue
Due: none

fix: stop winning music on home navigation (#301)
  app/components/FinalScoreBoard.vue
Due: none

fix: prevent quiz hosts from playing
  README.md
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/models/final_scoreboard.go
  api/models/final_scoreboard_admin.go
  api/models/quiz.go
  api/models/user_played_quizzes.go
  app/components/Quiz/QuestionSpace.vue
  app/components/landing/PublicQuizSection.vue
  app/composables/admin_operation.js
  app/pages/admin/arrange/[session_id].vue
  load-test/tests/user-played-quiz-score-test.js
Due: go-vet

feat: add comprehensive issue templates with bug report, question/support, and config
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question-support.yml
  .github/templates/PULL_REQUEST_TEMPLATE.md
  .github/templates/bug-report.yml
  app/nuxt.config.ts
Due: none

feat: add comprehensive issue templates with bug report, question/support, and config
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question-support.yml
  .github/templates/PULL_REQUEST_TEMPLATE.md
  .github/templates/bug-report.yml
Due: none

fix: improve quiz card grid spacing and preserve description search
  app/components/quiz-list/AdminQuizListCard.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

fix: improve quiz card grid spacing and preserve description search (#304)
  app/components/quiz-list/AdminQuizListCard.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

updated contributing, governance and security information file
  CONTRIBUTING.md
  GOVERNANCE.md
  SECURITY.md
Due: none

updated contributing, governance and security information file
  CONTRIBUTING.md
  GOVERNANCE.md
  SECURITY.md
  app/nuxt.config.ts
Due: none

fix: prevent quiz hosts from playing (#302)
  README.md
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/models/final_scoreboard.go
  api/models/final_scoreboard_admin.go
  api/models/quiz.go
  api/models/user_played_quizzes.go
  app/components/Quiz/QuestionSpace.vue
  app/components/landing/PublicQuizSection.vue
  app/composables/admin_operation.js
  app/pages/admin/arrange/[session_id].vue
  load-test/tests/user-played-quiz-score-test.js
Due: go-vet

added project contrinution coding standard and getting started guides
  app/nuxt.config.ts
  docs/api-development.md
  docs/architecture.md
  docs/coding-standards.md
  docs/frontend-development.md
  docs/getting-started.md
Due: none

added project contrinution coding standard and getting started guides
  docs/api-development.md
  docs/architecture.md
  docs/coding-standards.md
  docs/frontend-development.md
  docs/getting-started.md
Due: none
