Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

feat: store quiz images as base64 (#211)
  api/.env.example
  api/config/aws.go
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/image_controller.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/go.mod
  api/go.sum
  api/models/questions.go
  api/routes/main.go
  api/services/file_upload.go
  api/services/presigned_url.go
  app/.env.example
  app/components/Quiz/EditQuestion.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/nuxt.config.ts
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

feat: add running quiz bar (#213)
  app/app.vue
  app/components/Header.vue
  app/components/common/RunningQuizBanner.vue
Due: none

feat: add drag and drop question ordering (#209)
  api/controllers/api/v1/quiz_controller.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/pkg/structs/requests.go
  api/services/quiz.go
  app/package-lock.json
  app/package.json
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet, node-lint

fix: terminate quiz and remove played quiz from admin profile
  api/models/questions.go
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/pages/admin/index.vue
Due: go-vet

fix: add navigation for played quizzes on user profile
  api/.gitignore
  app/.gitignore
  app/pages/admin/index.vue
Due: none

fix: show preview for dropping question tab
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: removed vue-toastification and add notivue for vue notification
  app/app.vue
  app/assets/css/main.css
  app/components/FinalScoreBoard.vue
  app/components/Frame.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/common/RunningQuizBanner.vue
  app/components/quiz-manage/QuestionFormCard.vue
  app/components/utils/StartQuiz.vue
  app/composables/copy_to_clipboard.js
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/change-password.vue
  app/pages/account/forgot-password.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/pages/verification.vue
  app/plugins/vue-toastificaton.client.ts
  app/test/components/Quiz/ListUserAnswered.test.js
  app/test/components/Quiz/QuestionSpace.test.js
  app/test/components/Utils/StartQuiz.test.js
Due: node-lint

fix: fixed hydration issue on question edit page
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

feat: add public quiz feature
  api/.env.example
  api/config/quiz.go
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/database/migrations/20260526120000_alter_quizzes_add_is_public_column.down.sql
  api/database/migrations/20260526120000_alter_quizzes_add_is_public_column.up.sql
  api/models/questions.go
  api/models/quiz.go
  api/models/shared_quizzes.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  app/components/Quiz/HostNameModal.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/landing/PublicQuizCard.vue
  app/components/landing/PublicQuizSection.vue
  app/components/quiz-list/AdminQuizListCard.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/index.vue
Due: go-vet

feat: add tooltip for durations and points
  app/components/Quiz/QuestionSpace.vue
  app/components/ui/tooltip/Tooltip.vue
  app/components/ui/tooltip/TooltipContent.vue
  app/components/ui/tooltip/TooltipProvider.vue
  app/components/ui/tooltip/TooltipTrigger.vue
  app/components/ui/tooltip/index.ts
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

fix: reuse active quiz session when quiz is already running
  api/controllers/api/v1/quiz_controller.go
  api/models/active_quizzes.go
Due: go-vet

feat: add back to home button on final scoreboard page
  app/components/FinalScoreBoard.vue
Due: none

feat: add spotlight glow cone behind 1st-place podium winner
  app/components/FinalScoreBoard.vue
Due: none

feat: rebuild share quiz permission modal in new theme
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/Quiz/ShareQuizForm.vue
  app/components/Quiz/ShareQuizModal.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: none

fix: allow guest users to reach login page after quiz
  app/pages/account/login.vue
Due: none

fix: fix jovvix logo
  README.md
  app/assets/images/jovvix-logo.png
  app/assets/images/jovvix-logo.svg
  app/components/common/Sidebar.vue
  app/components/common/TopNav.vue
  app/components/landing/HeroActionCard.vue
  app/components/landing/HeroSection.vue
  app/public/favicon-16x16.png
  app/public/favicon-180x180.png
  app/public/favicon-256x256.png
  app/public/favicon-32x32.png
  app/public/favicon-48x48.png
  app/public/favicon.ico
Due: none

fix: modify nuxt config
  app/nuxt.config.ts
Due: none

fix: comment frontend testcases
  .github/workflows/test-build-push-app.yaml
Due: none

fix: create symlink between public assets
  app/Dockerfile
Due: none

fix: nitropack dependency
  app/Dockerfile
  app/package-lock.json
  app/package.json
Due: node-lint

fix(ui): disable Nuxt appManifest and prevent HTML page caching
  app/nuxt.config.ts
Due: none

fix(ui): disable Nuxt appManifest and prevent HTML page caching (#233)
  app/nuxt.config.ts
Due: none

fix: remove route rules
  app/nuxt.config.ts
Due: none

fix: reuse active quiz session when quiz is already running (#221)
  api/controllers/api/v1/quiz_controller.go
  api/models/active_quizzes.go
Due: go-vet

fix: add UI question creation docs and replaced redis with Valkey
  README.md
  api/.env.example
Due: none

fix: add UI question creation docs and replaced redis with Valkey (#235)
  README.md
  api/.env.example
Due: none

fix: add UI question creation docs and replaced redis with Valkey (#235)
  README.md
  api/.env.example
  app/nuxt.config.ts
Due: none

fix: update README
  README.md
Due: none

fix: update readme logo
  README.md
  app/public/readme-logo1.webp
Due: none

fix: update readme logo
  README.md
  app/assets/images/readme-logo1.png
Due: none

fix: update readme logo (#238)
  README.md
  app/assets/images/readme-logo1.png
Due: none

fix: 307 redirect issue with kratos admin url
  api/services/user.go
Due: go-vet

fix: 307 redirect issue with kratos admin url
  api/services/user.go
  app/nuxt.config.ts
Due: go-vet

feat: add sample CSV download option
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/public/files/demo.csv
Due: none

feat: add sample CSV download option (#240)
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/public/files/demo.csv
Due: none

fix: show active quiz title
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/landing/PublicQuizSection.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

feat: validate quiz CSV uploads
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/utils/csv_operation.go
  api/utils/csv_operation_test.go
Due: go-vet

fix: add full screen mode for qr code
  app/components/QrFullscreenOverlay.vue
  app/components/Quiz/WaitingSpace.vue
Due: none

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
