Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

feat/ui-enhancement (#376)
  app/components/Header.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/utils/StartQuiz.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/index.vue
Due: none

use node-js-docker-base image in quiz-app UI (#377)
  app/Dockerfile
Due: none

refactor: change image of quiz background (#378)
  app/assets/images/que-web-bg.png
Due: none

feat: add music in running quiz (#380)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/questions.go
  app/components/FinalScoreBoard.vue
  app/components/Frame.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/UserName.vue
  app/public/music/clock.mp3
  app/public/music/waiting_area_music.mp3
  app/public/music/winning.mp3
  app/store/music.js
Due: go-vet

feat: add pagination and search by title in played quiz and create StatisticsBadges component (#381)
  api/constants/constant.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/models/user_played_quizzes.go
  api/pkg/structs/response.go
  app/components/FinalScoreBoard.vue
  app/components/Pagination.vue
  app/components/Quiz/StatisticsBadges.vue
  app/components/QuizListCard.vue
  app/components/playedQuizListCard.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/played_quiz/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/index.vue
Due: go-vet

fix: played quiz list if null (#382)
  app/pages/admin/index.vue
Due: none

feat: delete quiz and question (#385)
  api/controllers/api/v1/image_controller.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/models/quiz.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/services/quiz.go
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: go-vet

feat: delete user and its all related data (#386)
  api/assets/swagger.json
  api/constants/constant.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_controller.go
  api/middlewares/authenticated.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/models/quiz.go
  api/models/user.go
  api/models/user_played_quizzes.go
  api/routes/main.go
  api/services/presigned_url.go
  api/services/quiz.go
  api/services/user.go
  api/services/user_test.go
  api/utils/swagger_structs.go
  app/components/utils/StartQuiz.vue
  app/pages/admin/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/join/index.vue
Due: go-vet

feat: add minio to use for local (#387)
  api/config/aws.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/docker-compose.yaml
  api/go.mod
  api/services/presigned_url.go
Due: go-vet

feat: add qr code in waiting space (#392)
  app/components/QrCode.vue
  app/components/Quiz/WaitingSpace.vue
  app/composables/copy_to_clipboard.js
  app/package-lock.json
  app/package.json
  app/pages/join/index.vue
Due: node-lint

feat : add alert if admin quiz is running (#393)
  app/components/Header.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/utils/StartQuiz.vue
  app/composables/quiz_operation.js
  app/store/session.js
Due: none

fix: base url to domain url (#394)
  app/components/Quiz/WaitingSpace.vue
Due: none

update chnglog.md file (#388)
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
Due: none

changing the app and api env configurations in .env.example file (#389)
  api/.env.example
  app/.env.example
Due: none

feat: add QuizjoinModal for show wide QR and url instruction (#398)
  api/controllers/api/v1/quiz_socket_controller.go
  app/.env.docker
  app/components/Header.vue
  app/components/QrCode.vue
  app/components/Quiz/JoinModal.vue
  app/components/Quiz/WaitingSpace.vue
Due: go-vet

feat : automatically skip the question when all users have submitted their answers (#399)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/assets/images/Que-mob-bg.png
  app/assets/images/que-web-bg.png
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/WaitingSpace.vue
  app/composables/copy_to_clipboard.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

refactor: ui enhancement (#402)
  app/components/Header.vue
  app/components/Quiz/JoinModal.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/create-quiz.vue
Due: none

fix responsive issue of scoreboard table (#403)
  app/components/ScoreBoardTable.vue
Due: none

feat: add cards for provide create and list quiz option. (#406)
  api/.env.example
  api/config/main.go
  api/config/quiz.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/utils/csv_operation.go
  app/assets/images/add-file.gif
  app/assets/images/list.gif
  app/components/Header.vue
  app/components/Quiz/ActionCard.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/UserName.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/index.vue
Due: go-vet

feat: pause and resume the quiz (#408)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/ScoreSpace.vue
  app/composables/admin_operation.js
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

refactor: scale the waitingspace area and remove joinModal (#409)
  app/components/Quiz/JoinModal.vue
  app/components/Quiz/WaitingSpace.vue
  app/pages/admin/arrange/[session_id].vue
Due: none

feat: change style of delete button and modal for confirm delete (#410)
  app/components/DeleteDialog.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/pages/admin/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
Due: none

feat : share quiz to another user (#416)
  api/.env.example
  api/assets/swagger.json
  api/config/main.go
  api/config/smtp.go
  api/constants/constant.go
  api/controllers/api/v1/question_controller.go
  api/controllers/api/v1/shared_quizzes_controller.go
  api/database/migrations/20241111151621_create_shared_quizzes_table.down.sql
  api/database/migrations/20241111151621_create_shared_quizzes_table.up.sql
  api/go.mod
  api/go.sum
  api/middlewares/middleware.go
  api/middlewares/quiz_permission.go
  api/models/shared_quizzes.go
  api/models/user.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/pkg/templates/email_templates.go
  api/routes/main.go
  api/services/email.go
  api/utils/swagger_structs.go
  app/assets/images/share-with-me.gif
  app/assets/images/shared-file.gif
  app/components/ListJoinUser.vue
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/Quiz/ShareQuizModal.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/utils/NavigationButton.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/quiz/index.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
Due: go-vet

feat: add edit and delete api for user permission of pertcular quiz (#421)
  api/assets/swagger.json
  api/constants/constant.go
  api/controllers/api/v1/shared_quizzes_controller.go
  api/models/shared_quizzes.go
  api/pkg/structs/response.go
  api/routes/main.go
  api/utils/swagger_structs.go
  app/components/Quiz/ShareQuizAuthorizeUser.vue
  app/components/Quiz/ShareQuizForm.vue
  app/components/Quiz/ShareQuizModal.vue
Due: go-vet

update-demo-csv (#418)
  app/public/files/demo.csv
Due: none

feat: add streak score bonus (#423)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20241114111627_alter_user_quiz_responses_add_streak_count_column.up.sql
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/utils/calculate_points_score.go
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/ShareQuizModal.vue
Due: go-vet

fix: docker file and env demo files for start all services with docker. (Issue #417) (#424)
  .gitignore
  api/.env.docker
  app/.dockerignore
  app/.env.docker
  app/.env.example
  app/Dockerfile
  app/components/FinalScoreBoard.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/ShareQuizModal.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/utils/StartQuiz.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/nuxt.config.ts
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/index.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/played_quiz/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
  app/pages/admin/quiz/share-with-me.vue
  app/pages/admin/quiz/shared-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/join/index.vue
  app/pages/recovery.vue
  app/pages/verification.vue
  docker-compose.yaml
Due: none

feat : add test cases (#428)
  api/controllers/api/v1/analytics_board_admin_controller_test.go
  api/controllers/api/v1/analytics_board_user_controller_test.go
  api/controllers/api/v1/auth_controller_test.go
  api/controllers/api/v1/dummyCSVForTesting/CSVWithEmptyQuestions.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithInvalidPointsWithMoreThanMaximumPoints.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithInvalidPointsWithNegativePoints.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithValidPoints.csv
  api/controllers/api/v1/dummyCSVForTesting/avatar.png
  api/controllers/api/v1/dummyCSVForTesting/demo.csv
  api/controllers/api/v1/final_scoreboard_admin_controller_test.go
  api/controllers/api/v1/final_scoreboard_controller_test.go
  api/controllers/api/v1/health_controller_test.go
  api/controllers/api/v1/image_controller_test.go
  api/controllers/api/v1/metrics_controller_test.go
  api/controllers/api/v1/question_controller_test.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_controller_test.go
  api/controllers/api/v1/shared_quizzes_controller.go
  api/controllers/api/v1/shared_quizzes_controller_test.go
  api/controllers/api/v1/user_controller_test.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/controllers/api/v1/user_played_score_quiz_test.go
  api/controllers/api/v1/v1_test.go
  api/middlewares/csv_auth.go
  api/models/questions.go
  api/models/quiz.go
  api/models/shared_quizzes.go
  api/services/user.go
  api/utils/calculate_points_score_test.go
  api/utils/csv_operation_test.go
  api/utils/json_response_test.go
  api/utils/password_hash.go
  api/utils/swagger_structs.go
  app/pages/admin/reports/index.vue
Due: go-vet

fix: fix port already in use error with s6
  app/Dockerfile
  app/s6-overlay/s6-rc.d/nginx/run
  app/s6-overlay/s6-rc.d/node/run
  app/s6-overlay/s6-rc.d/node/type
  app/s6-overlay/s6-rc.d/user/contents.d/nginx
  app/s6-overlay/s6-rc.d/user/contents.d/node
  app/s6-overlay/svc-nginx/dependencies.d/apply-env
  app/s6-overlay/svc-nginx/run
  app/s6-overlay/svc-nginx/type
Due: none

feat: upgrade nuxt version (#433)
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/package-lock.json
  app/package.json
  app/pages/account/register.vue
Due: node-lint

feat: change ui port to 5000 and add kratos env file (issue #430) (#434)
  api/.env.docker
  api/.env.example
  api/.env.kratos
  api/docker-compose.yaml
  api/pkg/kratos/kratos.yml
  app/.env.docker
  app/.env.example
  app/pages/error.vue
  docker-compose.yaml
Due: none

fix: import bootstrap style in vuetify plugins to prevent overriding the bootstrap style by vuetify. (#435)
  app/plugins/vuetify.ts
Due: none

feat: add test cases for websocket (Issue #430) (#431)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/quiz_socket_controller_test.go
  api/controllers/api/v1/v1_test.go
  api/go.mod
  api/go.sum
Due: go-vet

feat: add unit test cases for ui components (Issue #331) (#429)
  .gitignore
  api/.env.docker
  app/components/FinalScoreBoard.vue
  app/components/Pagination.vue
  app/components/Quiz/OptionsAnalysis.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/WaitingSpace.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/test/components/FinalScoreBoard.test.js
  app/test/components/Header.test.js
  app/test/components/ListJoinUser.test.js
  app/test/components/Option.test.js
  app/test/components/Pagination.test.js
  app/test/components/Playground.test.js
  app/test/components/Quiz/ActionCard.test.js
  app/test/components/Quiz/Analysis.test.js
  app/test/components/Quiz/EditQuestion.test.js
  app/test/components/Quiz/ListUserAnswered.test.js
  app/test/components/Quiz/OptionsAnalysis.test.js
  app/test/components/Quiz/QuestionAnalysis.test.js
  app/test/components/Quiz/QuestionSpace.test.js
  app/test/components/Quiz/ShareQuizAuthorizedUser.test.js
  app/test/components/Quiz/ShareQuizForm.test.js
  app/test/components/Quiz/ShareQuizModal.test.js
  app/test/components/Quiz/SocreSpace.test.js
  app/test/components/Quiz/UserAnalyticsSpace.test.js
  app/test/components/Quiz/WaitingSpace.test.js
  app/test/components/QuizListCard.test.js
  app/test/components/Reports/PageLayout.test.js
  app/test/components/ScoreBoardTable.test.js
  app/test/components/UserName.test.js
  app/test/components/Utils/ConfirmModal.test.js
  app/test/components/Utils/NavigationButton.test.js
  app/test/components/Utils/StartQuiz.test.js
  app/test/components/WinnerCard.test.js
  app/test/constants.js
  app/vitest.config.ts
Due: node-lint

Rectifying grammatical mistakes
  api/constants/constant.go
  app/components/QuizListCard.vue
  app/config/constants.js
Due: go-vet

added the required value
  app/components/QuizListCard.vue
  app/plugins/vuetify.ts
Due: none

added the required value
  api/constants/constant.go
  app/components/QuizListCard.vue
Due: go-vet

feat: add the test step for the ui in workflow #438
  .github/workflows/example.yaml
  .github/workflows/test-build-push-api.yaml
  .github/workflows/test-build-push-app.yaml
Due: none

feat: add the test step for the ui in workflow #438
  .github/workflows/example.yaml
Due: none

feat: add on pr in the ci #438
  .github/workflows/test-build-push-app.yaml
Due: none
