Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

fix: duplicate user show in scoreboard with inconsistent score and accuracy. (#315)
  api/controllers/api/v1/user_played_score_quiz.go
Due: go-vet

fix: add ping for continues web socket connection (#318)
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/quiz_operation.js
  app/composables/user_operation.js
Due: go-vet

fix: change nginx config for debug socket close issue (#321)
  app/docker/nginx.conf
Due: none

feat: add filteration and pagination in quiz analysis list (#320)
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/models/quiz.go
  api/models/user_played_quizzes.go
  app/components/Pagination.vue
  app/pages/admin/reports/index.vue
Due: go-vet

adding the toFix method (#317)
  app/pages/admin/reports/index.vue
Due: none

feat: display number of total question in question component (#322)
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/QuestionSpace.vue
Due: go-vet

fix: check user count before quiz start (#323)
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/user_operation.js
Due: go-vet

generate-changelog for quiz app development (#319)
  CHANGELOG.md
Due: none

fix: not store user data during password recovery (#326)
  api/docker-compose.yaml
  app/components/Header.vue
  app/composables/auth.js
  app/docker/nginx.conf
  app/pages/index.vue
  app/pages/join/play/[code].vue
Due: none

fix: add ping for admin to prevent socket disconnection (Issue #314) (#328)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/admin_operation.js
  app/composables/user_operation.js
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

low-priority-tasks (#327)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/ScoreSpace.vue
  app/pages/admin/analysis.vue
  app/pages/index.vue
  app/pages/recovery.vue
Due: none

fix: negative time for participants who join quiz after start. (#330)
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

feat/quiz-resume-admin-disconnect (#332)
  api/pkg/kratos/kratos.yml
  app/components/utils/StartQuiz.vue
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/quiz_operations.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/recovery.vue
Due: none

fix/user-count-question-count (#333)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/questions.go
  api/models/user_played_quizzes.go
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/WaitingSpace.vue
  app/composables/stored_socket.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

fix: handle redis pubsub proper and remove global answer submission channel (#335)
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/go.mod
  api/go.sum
  api/routes/main.go
  app/composables/user_operation.js
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

feat: add pong message from server and add reconnect feature if user removed while waiting for start quiz (#337)
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

feat: add order in questions list of report analysis (#334)
  api/models/analytics_board_admin.go
  api/models/analytics_board_user.go
  app/components/FinalScoreBoard.vue
  app/pages/admin/analysis.vue
Due: go-vet

refactor: malfunction error (#336)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/questions.go
  api/models/user_played_quizzes.go
  app/composables/user_operation.js
  app/pages/join/play/[code].vue
Due: go-vet

feat: add questionAnalysis of user in report participants page (#339)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
  app/pages/admin/reports/[id]/participants.vue
Due: none

feat/refresh-user-cookie (#341)
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/authenticated.go
  api/pkg/structs/response.go
  app/components/Quiz/ScoreSpace.vue
  app/components/playedQuizListCard.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/recovery.vue
Due: go-vet

feat: handle user inactivity while waiting for start quiz (#340)
  .gitignore
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/FinalScoreBoard.vue
  app/composables/user_operation.js
Due: go-vet

feature: add chart view for show answer submission analysis (issue : #299) (#346)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/user_quiz_responses.go
  app/components/AnswerSubmissionChart.vue
  app/components/FinalScoreBoard.vue
  app/components/Quiz/ScoreSpace.vue
  app/nuxt.config.ts
  app/pages/admin/arrange/[session_id].vue
  app/plugins/chart.js
Due: go-vet

refactor user interface (#347)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/user_quiz_responses.go
  app/assets/js/main.js
  app/assets/js/sidebarMenu.js
  app/assets/scss/theme/_theme.scss
  app/assets/scss/theme/vendor/apexChart/_apexchart.scss
  app/components/AnswerSubmissionChart.vue
  app/components/FinalScoreBoard.vue
  app/components/Option.vue
  app/components/Pagination.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/layouts/default.vue
  app/package-lock.json
  app/package.json
  app/pages/admin/analysis.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/[id]/participants.vue
  app/pages/admin/reports/index.vue
  app/pages/join/index.vue
Due: go-vet, node-lint

fix: continue redis channel after 'no player found' error. (#356)
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

refactor: create generic function ProcessAnalyticsData (#358)
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/routes/main.go
  api/services/presigned_url.go
Due: go-vet

fix: responsive issue for invitation code display on waiting area (#360)
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/Quiz/WaitingSpace.vue
Due: none

feat: add code block in question (#361)
  app/components/CodeBlockComponent.vue
  app/components/FinalScoreBoard.vue
  app/components/Option.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/package-lock.json
  app/package.json
  app/pages/admin/analysis.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/[id]/index.vue
Due: node-lint

refactor: show questions order wise in reports (#362)
  api/models/quiz.go
Due: go-vet

refactor : add tab in reports instead of page (#363)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/reports/PageLayout.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/[id]/participants.vue
Due: none

feat: add eslint formating and remove unused code. (#364)
  app/components/AnswerSubmissionChart.vue
  app/components/CodeBlockComponent.vue
  app/components/FinalScoreBoard.vue
  app/components/Option.vue
  app/components/Pagination.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/components/SideNavbar.vue
  app/components/reports/PageLayout.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/questions_analysis.js
  app/composables/quiz_operation.js
  app/composables/stored_socket.js
  app/composables/user_operation.js
  app/layouts/default.vue
  app/package-lock.json
  app/pages/account/login.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/[id]/index.vue
  app/pages/admin/reports/index.vue
  app/pages/index.vue
  app/pages/join/play/[code].vue
  app/pages/recovery.vue
  app/plugins/chart.js
  eslint.config.js
Due: none

feat: UI enhancement (#365)
  api/models/quiz.go
  app/components/FinalScoreBoard.vue
  app/components/Option.vue
  app/components/Quiz/Analysis.vue
  app/components/Quiz/OptionsAnalysis.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/played_quiz/[played_quiz_id].vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/reports/[id]/index.vue
Due: go-vet

feat: add avatar and winner UI (#366)
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/user_controller.go
  api/database/migrations/20240926151621_alter_users_add_img_key_column.up.sql
  api/models/final_scoreboard.go
  api/models/final_scoreboard_admin.go
  api/models/quiz.go
  api/models/user.go
  app/components/CodeBlockComponent.vue
  app/components/FinalScoreBoard.vue
  app/components/Header.vue
  app/components/Option.vue
  app/components/ScoreBoardTable.vue
  app/components/UserName.vue
  app/components/WinnerCard.vue
  app/composables/auth.js
  app/composables/avatar.js
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

refactor: increase width of bar and answer submission component not render in 5_sec_conter (#368)
  app/components/AnswerSubmissionChart.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: none

feat: add verification of email (#369)
  api/pkg/kratos/kratos.yml
  app/pages/account/login.vue
  app/pages/verification.vue
Due: none

feat: add avatar in all required area and change winner UI (#370)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/user_played_quizzes.go
  app/assets/images/medal/1.png
  app/assets/images/medal/2.png
  app/assets/images/medal/3.png
  app/components/AnswerSubmissionChart.vue
  app/components/CodeBlockComponent.vue
  app/components/FinalScoreBoard.vue
  app/components/ListJoinUser.vue
  app/components/Option.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/components/ScoreBoardTable.vue
  app/components/WinnerCard.vue
  app/pages/admin/reports/[id]/index.vue
Due: go-vet

feat: add swagger documentation (#371)
  api/assets/swagger.json
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/auth_controller_test.go
  api/controllers/api/v1/final_scoreboard_admin_controller.go
  api/controllers/api/v1/final_scoreboard_controller.go
  api/controllers/api/v1/health_controller.go
  api/controllers/api/v1/image_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/user_controller.go
  api/controllers/api/v1/user_played_score_quiz.go
  api/routes/main.go
  api/utils/swagger_structs.go
Due: go-vet

refactor: change images of winner UI (#373)
  api/routes/main.go
  app/assets/images/medal/1.png
  app/assets/images/medal/2.png
  app/assets/images/medal/3.png
  app/components/FinalScoreBoard.vue
  app/components/WinnerCard.vue
Due: go-vet

feat: add edit questions of quiz (#374)
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/pkg/structs/response.go
  api/routes/main.go
  app/components/CodeBlockComponent.vue
  app/components/Quiz/EditQuestion.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/QuizListCard.vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/[question_id].vue
  app/pages/admin/quiz/list-quiz/[quiz_id]/index.vue
  app/pages/admin/quiz/list-quiz/index.vue
Due: go-vet

feat: add some ui enhancement (#375)
  app/assets/images/Que-mob-bg.png
  app/assets/images/logo.png
  app/assets/images/que-web-bg.png
  app/components/FinalScoreBoard.vue
  app/components/Header.vue
  app/components/ListJoinUser.vue
  app/components/Quiz/ListUserAnswered.vue
  app/components/Quiz/QuestionAnalysis.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/UserName.vue
  app/components/reports/PageLayout.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: none

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
