Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

fix: take time period for each question from env rather than csv (#180)
  api/.env.example
  api/controllers/api/v1/quiz_utilities_controller.go
  app/public/files/demo.csv
Due: go-vet

fix: the docker compose functionality is now working properly with these changes as there was unwanted envs and introduced docker volume for redis and also changed ip of the containers (#164)
  .gitignore
  api/.env.docker
  api/Dockerfile
  api/cli/api.go
  api/middlewares/custom_authentication.go
  api/startapi.sh
  api/startmigration.sh
  app/.env.docker
  docker-compose.yaml
Due: go-vet

fix: docker file is back to its previous state as wanted by the CI flow (#181)
  api/Dockerfile
  api/startapi.sh
  api/startmigration.sh
Due: none

fix: username should be maximum of 12 characters long and should not consider blankspace as character (#174)
  app/pages/join/index.vue
Due: none

feat: analytics board api for the admin and user (#179)
  .gitignore
  api/cli/api.go
  api/constants/constant.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/analytics_board_admin_controller_test.go
  api/controllers/api/v1/analytics_board_user_controller.go
  api/controllers/api/v1/analytics_board_user_controller_test.go
  api/models/analytics_board_admin.go
  api/models/analytics_board_user.go
  api/models/questions.go
  api/routes/main.go
Due: go-vet

feature/design-user-analytics (#182)
  app/components/FinalScoreBoard.vue
Due: none

feature/design-user-analytics (#183)
  app/components/FinalScoreBoard.vue
Due: none

fix/remove-popup-in-list-quizziz (#187)
  app/middleware/adminCheck.global.js
Due: none

fix/redirect-to-admim-after-login (#189)
  .gitignore
  app/components/FinalScoreBoard.vue
  app/middleware/adminCheck.global.js
Due: none

fix: changed the static words to the camel case
  app/components/ListJoinUser.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/pages/account/login.vue
  app/pages/account/register.vue
  app/pages/admin/arrange/index.vue
  app/pages/admin/quiz/create-quiz.vue
  app/pages/admin/quiz/list-quiz.vue
  app/pages/join/index.vue
Due: none

feature/design-admin-analytics (#192)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/PopupUserwiseAnalysis.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
  app/pages/admin/demo-json.json
  app/pages/admin/extra code.js
Due: none

Modify FinalScoreboard to resolve conflicts
  app/components/FinalScoreBoard.vue
Due: none

removing extra files
  app/pages/admin/demo-json.json
  app/pages/admin/extra code.js
Due: none

test/limit-points-allocation (#188)
  api/constants/constant.go
  api/controllers/api/v1/dummyCSVForTesting/CSVWithEmptyQuestions.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithInvalidPointsWithMoreThanMaximumPoints.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithInvalidPointsWithNegativePoints.csv
  api/controllers/api/v1/dummyCSVForTesting/CSVWithValidPoints.csv
  api/controllers/api/v1/dummyCSVForTesting/EmptyFile.csv
  api/controllers/api/v1/quiz_utilities_controller.go
  api/controllers/api/v1/quiz_utilities_controller_test.go
Due: go-vet

fix: Quesiton and Score Space being cut in the mobile view (#197)
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
Due: none

feature: design-admin-analytics-questionwise (#198)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
  app/store/userScoreboardData.js
Due: none

feature: design-ui-landing (#200)
  app/assets/images/boxes.png
  app/assets/images/shapes/1.svg
  app/assets/images/shapes/2.svg
  app/assets/images/shapes/3.svg
  app/assets/images/shapes/4.svg
  app/assets/images/shapes/5.svg
  app/assets/images/shapes/6.svg
  app/assets/images/shapes/7.svg
  app/assets/images/shapes/8.svg
  app/assets/images/shapes/9.svg
  app/package.json
  app/pages/index.vue
  app/public/testimg.json
Due: node-lint

Update app/pages/index.vue
  app/pages/index.vue
Due: none

fix/quiz-socket-controller (#203)
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/questions.go
Due: go-vet

feature: modify-header (#202)
  app/assets/images/shapes/179.svg
  app/assets/images/shapes/181.svg
  app/assets/images/shapes/182.svg
  app/assets/images/shapes/183.svg
  app/assets/images/shapes/184.svg
  app/assets/images/shapes/185.svg
  app/assets/images/shapes/186.svg
  app/assets/images/shapes/187.svg
  app/assets/images/shapes/188.svg
  app/layouts/default.vue
Due: none

fix: admin-analysis (#199)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
  app/pages/admin/quiz/create-quiz.vue
Due: none

fix: modify user anaytics (#205)
  app/components/FinalScoreBoard.vue
Due: none

fix: modify admin analysis (#207)
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
Due: none

fix/username-visibility (#208, #204) (#210)
  app/components/UserName.vue
  app/pages/join/play/[code].vue
Due: none

fix: errors-caused-by-cookies are resolved (#208, #204) (#216)
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/played_quiz_validation.go
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

fix: award points for any correct option chosen in multi-answer questions (except survey questions) (#213)
  api/models/questions.go
  app/components/Quiz/UserAnalyticsSpace.vue
  app/pages/admin/analysis.vue
Due: go-vet

Update Timeout in workflow
  .github/workflows/build-push-api.yaml
Due: none

reduce timeout checkout, buildx and create tag step
  .github/workflows/build-push-api.yaml
Due: none

(#208) build: add points in every admin analytics object (#218)
  api/models/analytics_board_admin.go
Due: go-vet

fix/multiple-correct-answer-points: Issue in accuracy on userside (#219)
  app/components/FinalScoreBoard.vue
  app/pages/admin/analysis.vue
Due: none

chore/add-logs-to-GetUserMeta (#217)
  api/constants/constant.go
  api/controllers/api/v1/user_controller.go
  api/middlewares/authenticated.go
  api/middlewares/custom_authentication.go
Due: go-vet

feature(class-accuracy-bar): Show Class accuracy bar on the admin analysis page (#228)
  app/components/FinalScoreBoard.vue
  app/components/Quiz/UserAnalyticsSpace.vue
  app/composables/check_is_correct.js
  app/pages/admin/analysis.vue
Due: none

feat: show-username-when-user-submits-answer (#233)
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/routes/main.go
  app/components/Quiz/ListUserAnswered.vue
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/store/userSubmittedAnswer.js
Due: go-vet

feature(design-join-page): Design Join Page and Modify Header and Footer (#232)
  app/assets/images/join-page-bg.jpg
  app/components/Frame.vue
  app/layouts/default.vue
  app/pages/join/index.vue
Due: none

feature(add-type-survey): Add type column in database for questions (#231)
  api/constants/constant.go
  api/controllers/api/v1/quiz_utilities_controller.go
  api/database/migrations/20240710130922_create_column_type_questions.down.sql
  api/database/migrations/20240710130922_create_column_type_questions.up.sql
  api/helpers/utils/check_type.go
  api/models/questions.go
Due: go-vet

(#208) chore: move score calculation logic from model to helper (#224)
  api/controllers/api/v1/quiz_controller.go
  api/helpers/calculations/calculateScore.go
  api/helpers/calculations/calculateScore_test.go
  api/models/questions.go
Due: go-vet

(#225 - 1.1, 10) feat: use local storage to persist the state when page gets refresh manually by user (#238)
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/store/invitationcode.js
  app/store/userScoreboardData.js
  app/store/userSubmittedAnswer.js
  app/store/userlist.js
  app/store/users.js
Due: node-lint

fix(type-column-migrations): Add migrations to add new column 'type' and constraints and all related to that (#241)
  api/database/migrations/20240710130922_create_column_type_questions.down.sql
  api/database/migrations/20240710130922_create_column_type_questions.up.sql
  api/database/migrations/20240715132722_fill_type_column.down.sql
  api/database/migrations/20240715132722_fill_type_column.up.sql
  api/database/migrations/20240715134225_add_constraints_type_column.down.sql
  api/database/migrations/20240715134225_add_constraints_type_column.up.sql
Due: none

build: Modify analytics_board_admin and analytics_board_user to add type and typeString (#234)
  api/constants/constant.go
  api/helpers/utils/check_type.go
  api/helpers/utils/check_type_test.go
  api/models/analytics_board_admin.go
  api/models/analytics_board_user.go
Due: go-vet

fix/server-panics-when-admin-joins-as-user (#237)
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/played_quiz_validation.go
Due: go-vet
