Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

fix: change port in nginx.conf from 3000 to 4000 as per .env.example #32
  .github/workflows/build-push-api.yaml
  .github/workflows/build-push-app.yaml
  app/docker/nginx.conf
  docker-compose.yaml
Due: none

env, routes, swagger change
  api/.env.example
  api/.env.local
  api/.env.testing
  api/.gitignore
  api/assets/swagger.json
  api/controllers/api/v1/health_controller.go
  api/controllers/api/v1/v1_test.go
  api/routes/main.go
  app/.env.example
Due: go-vet

change swager and routes
  api/assets/swagger.json
  api/controllers/api/v1/health_controller.go
  api/controllers/api/v1/metrics_controller.go
  api/controllers/api/v1/v1_test.go
  api/routes/main.go
Due: go-vet

add down migration
  api/database/migrations/20240213191111_remove_unique_users_email.down.sql
  api/database/migrations/20240214191648_remove_not_null_users_email.down.sql
  api/database/migrations/20240215025156_create_table_quiz.down.sql
  api/database/migrations/20240215030020_create_table_questions.down.sql
  api/database/migrations/20240215031712_create_table_quiz_session.down.sql
  api/database/migrations/20240215032821_create_table_session_user.down.sql
  api/database/migrations/20240215034326_create_table_session_user_questions.down.sql
Due: none

Update .env.example
  app/.env.example
Due: none

Update .env.example
  api/.env.example
Due: none

change route of healthz generate new swagger
  api/app.go
  api/assets/swagger.json
  api/controllers/api/v1/auth_controller.go
  api/controllers/api/v1/health_controller.go
  api/controllers/api/v1/metrics_controller.go
  api/controllers/api/v1/user_controller.go
  api/controllers/api/v1/v1_test.go
  api/routes/main.go
Due: go-vet

integrate-login-page
  README.md
  api/.env.example
  api/cli/api.go
  api/config/main.go
  app/.env.example
  app/.env.local
  app/.env.production
  app/components/AuthLayout.vue
  app/layouts/default.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/account/login.vue
  app/plugins/vue-toastificaton.ts
Due: go-vet, node-lint

redirect after successful login
  app/layouts/default.vue
  app/pages/account/login.vue
  app/plugins/vue-toastificaton.ts
Due: none

change logging
  app/pages/account/login.vue
  app/pages/index.vue
Due: none

change env
  api/.env.example
Due: none

add middleware for admin routes
  app/components/AuthLayout.vue
  app/composables/auth.js
  app/middleware/adminCheck.global.js
Due: none

take envs from composable
  app/components/README.md
  app/composables/auth.js
  app/composables/envs.js
  app/layouts/README.md
  app/middleware/README.md
  app/pages/README.md
  app/pages/account/login.vue
  app/plugins/README.md
Due: none

fix constant, redirection, remove timeoutes, body, readme.md
  README.md
  api/.env.docker
  api/.env.local
  api/cli/api.go
  api/config/main.go
  app/.env.docker
  app/.env.example
  app/.env.local
  app/Dockerfile
  app/components/Frame.vue
  app/composables/envs.js
  app/config/constants.js
  app/layouts/default.vue
  app/package.json
  app/pages/account/login.vue
  app/pages/index.vue
  app/plugins/constants.js
  app/plugins/vue-toastificaton.client.ts
Due: go-vet, node-lint

fix middleware not redirec to url
  app/middleware/adminCheck.global.js
Due: none

format file
  app/middleware/adminCheck.global.js
Due: none

change files and delete local envs
  api/.env.docker
  api/.env.local
  app/.env.docker
  app/.env.example
  app/.env.local
  app/Dockerfile
Due: none

remove state, add current year dynamically
  app/composables/auth.js
  app/layouts/default.vue
  app/middleware/adminCheck.global.js
Due: none

add newline
  app/.env.docker
Due: none

change a tag to nuxtlink tag
  app/layouts/default.vue
Due: none

fix: remove href attribute
  app/layouts/default.vue
Due: none

Update index.vue
  app/pages/index.vue
Due: none

remove export env
  app/Dockerfile
Due: none

fix: session get after session completed
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/custom_authentication.go
  api/models/quiz.go
  app/config/constants.js
  app/pages/account/login.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

admin side complete
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/helpers/utils/validating.go
  api/hooks/go-lint.sh
  api/hooks/go-test.sh
  api/hooks/go-vet.sh
  api/middlewares/custom_authentication.go
  api/models/quiz_sessions.go
  api/routes/main.go
  app/components/WaitingSpace.vue
  app/composables/admin_operation.js
  app/composables/envs.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/pages/account/login.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

add code validation on middleware
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/custom_authentication.go
  app/components/WaitingSpace.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

add frontend-side code url not get, code validation issue
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20240216144343_create_row_current_question_quiz_sessions.up.sql
  api/helpers/utils/validating.go
  api/middlewares/custom_authentication.go
  api/models/quiz.go
  api/models/quiz_sessions.go
  api/routes/main.go
  app/app.vue
  app/components/FrameLayout.vue
  app/components/LoadingSpace.vue
  app/components/Playground.vue
  app/components/WaitingSpace.vue
  app/components/layouts/Base.vue
  app/composables/auth.js
  app/composables/envs.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/layouts/empty.vue
  app/package.json
  app/pages/account/login.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/error.vue
  app/pages/index.vue
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
  app/yarn.lock
  go.work.sum
Due: go-vet, node-lint

user side done
  api/constants/constant.go
  app/config/constants.js
  app/pages/join/play/[code].vue
Due: go-vet

user side done
  app/config/constants.js
  app/pages/join/play/[code].vue
Due: none

remove redudent code
  app/pages/index.vue
Due: none

env change
  api/.env.docker
  api/.env.example
  api/models/pub_sub_redis.go
  app/.env.docker
  app/.env.example
Due: go-vet

Update README.md
  README.md
Due: none

user can get quiz status
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/LoadingSpace.vue
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/components/Quiz/WaitingSpace.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

Update envs.js
  app/composables/envs.js
Due: none

Revert "Recheck staging, checking for valid approach"
  app/composables/envs.js
  app/pages/index.vue
Due: none

fix: error
  app/composables/envs.js
  app/pages/index.vue
Due: none

redish issue
  api/.env.docker
  docker-compose.yaml
Due: none

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
