Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

enhance code quality
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Frame.vue
  app/components/Quiz/QuestionSpace.vue
Due: go-vet

show score page during questions
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

rename tables
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20240306210504_rename_table_played_quizzes_user_sessions.down.sql
  api/database/migrations/20240306210504_rename_table_played_quizzes_user_sessions.up.sql
  api/database/migrations/20240306213956_rename_table_played_quiz_questions_user_session_questions.down.sql
  api/database/migrations/20240306213956_rename_table_played_quiz_questions_user_session_questions.up.sql
  api/helpers/quiz/quiz_helper.go
  api/models/user_played_quizzes.go
  api/models/user_quiz_response.go
  api/models/user_quiz_session.go
Due: go-vet

remove MiddlewarePass
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/custom_authentication.go
  api/routes/main.go
Due: go-vet

fix toast not comming on same message
  api/controllers/api/v1/user_controller.go
  api/middlewares/role_permission.go
  app/components/Frame.vue
  app/middleware/adminCheck.global.js
Due: go-vet

change role_permission to add errors in local
  api/cli/api.go
  api/constants/constant.go
  api/middlewares/role_permission.go
Due: go-vet

feat: admin will redirect when he/she tring to join their own quiz
  api/cli/api.go
  api/cli/create.go
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/quiz_operation.js
  app/config/constants.js
  app/pages/join/play/[code].vue
Due: go-vet

move session validation to middleware
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/played_quiz_validation.go
  api/middlewares/role_permission.go
  api/routes/main.go
Due: go-vet

handle session validation
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/middlewares/custom_authentication.go
  api/middlewares/played_quiz_validation.go
  api/models/active_quizzes.go
  api/models/user_played_quizzes.go
  app/config/constants.js
  app/pages/join/index.vue
  app/pages/join/play/[code].vue
Due: go-vet

replace column
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/database/migrations/20240215034326_create_table_session_user_questions.down.sql
  api/database/migrations/20240306213956_rename_table_played_quiz_questions_user_session_questions.down.sql
  api/database/migrations/20240306213956_rename_table_played_quiz_questions_user_session_questions.up.sql
  api/database/migrations/20240308161219_replace_column_user_played_quiz_id_user_id.down.sql
  api/database/migrations/20240308161219_replace_column_user_played_quiz_id_user_id.up.sql
  api/middlewares/played_quiz_validation.go
  api/models/user_quiz_responses.go
  api/routes/main.go
Due: go-vet

handle answer submission
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/controllers/api/v1/user_controller.go
  api/database/migrations/20240310002318_rename_table_active_quiz_questions_session_questions.down.sql
  api/database/migrations/20240310002318_rename_table_active_quiz_questions_session_questions.up.sql
  api/helpers/quiz/quiz_helper.go
  api/middlewares/played_quiz_validation.go
  api/models/active_quizzes.go
  api/models/questions.go
  api/models/quiz.go
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  api/pkg/structs/requests.go
  api/routes/main.go
  app/components/Quiz/QuestionSpace.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/config/constants.js
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

add if not player then abort start quiz
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

add check for cuquestion active and remove useFetch
  api/constants/constant.go
  api/controllers/api/v1/quiz_controller.go
  api/models/active_quizzes.go
  api/models/user_played_quizzes.go
  app/composables/user_operation.js
  app/pages/join/play/[code].vue
Due: go-vet

rename is_count to is_attend
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20240311102624_rename_column_is_attend_is_count.down.sql
  api/database/migrations/20240311102624_rename_column_is_attend_is_count.up.sql
  api/models/active_quizzes.go
  api/models/user_quiz_responses.go
Due: go-vet

add response time
  api/controllers/api/v1/quiz_controller.go
  api/models/user_quiz_responses.go
  api/pkg/structs/requests.go
  app/composables/quiz_operation.js
  app/composables/user_operation.js
Due: go-vet

remove getAddress
  api/models/active_quizzes.go
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
Due: go-vet

debugger point added
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
Due: go-vet

dis connection handle
  api/controllers/api/v1/quiz_socket_controller.go
Due: go-vet

remove logs
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
Due: go-vet

fix many bugs and pre-commit
  api/controllers/api/v1/quiz_controller.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/composables/admin_operation.js
  app/composables/quiz_operation.js
  app/composables/user_operation.js
  app/package-lock.json
Due: go-vet

add timer with sync support
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/database/migrations/20240311162707_create_column_duration_questions.down.sql
  api/database/migrations/20240311162707_create_column_duration_questions.up.sql
  api/database/migrations/20240311173416_create_column_question_delivery_time_qctive_quizzes.down.sql
  api/database/migrations/20240311173416_create_column_question_delivery_time_qctive_quizzes.up.sql
  api/models/active_quizzes.go
  api/models/questions.go
  api/models/quiz.go
  app/components/Frame.vue
  app/components/Quiz/QuestionSpace.vue
  app/composables/admin_operation.js
  app/config/constants.js
  app/pages/join/play/[code].vue
Due: go-vet

remove loggers
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/active_quizzes.go
  app/components/Quiz/QuestionSpace.vue
  app/composables/admin_operation.js
  app/composables/auth.js
  app/pages/account/login.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet

make reload as same ui
  app/.env.production
  app/.env.staging
  app/pages/account/login.vue
  app/pages/admin/arrange/[session_id].vue
  app/pages/admin/arrange/index.vue
Due: none

make reload as same ui
  app/pages/account/login.vue
Due: none

trying to implement skip
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/quiz.go
  app/components/Quiz/QuestionSpace.vue
  app/composables/admin_operation.js
  app/composables/url_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

feat: skip event
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/quiz.go
  api/routes/main.go
  app/components/Quiz/QuestionSpace.vue
  app/config/constants.js
  app/middleware/adminCheck.global.js
Due: go-vet

integrate pre-commit
  api/constants/constant.go
  api/controllers/api/v1/quiz_socket_controller.go
  app/assets/README.md
  app/assets/stylesheet/index.css
  app/components/utils/ConfirmModal.vue
  app/composables/admin_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/pages/admin/arrange/[session_id].vue
  app/pages/join/play/[code].vue
Due: go-vet, node-lint

add progress-bar
  api/controllers/api/v1/quiz_socket_controller.go
  api/models/user_played_quizzes.go
  api/models/user_quiz_responses.go
  app/components/Quiz/ScoreSpace.vue
  app/composables/quiz_operation.js
  app/config/constants.js
  app/middleware/adminCheck.global.js
  app/pages/admin/arrange/[session_id].vue
Due: go-vet

change to strict equal
  app/composables/quiz_operation.js
Due: none

make duration as not null
  api/database/migrations/20240314154416_set_not_null_duration_in_second_questions.down.sql
  api/database/migrations/20240314154416_set_not_null_duration_in_second_questions.up.sql
Due: none

add if exists
  api/database/migrations/20240314154416_set_not_null_duration_in_second_questions.down.sql
Due: none

working functionility
  api/.gitignore
  api/constants/constant.go
  api/controllers/api/v1/quiz_utilities_controller.go
  api/go.mod
  api/go.sum
  api/helpers/quiz/quiz_helper.go
  api/middlewares/csv_auth.go
  api/models/questions.go
  api/models/quiz.go
  api/pkg/structs/requests.go
  api/routes/main.go
  app/assets/public/demo.csv
  app/config/constants.js
  app/pages/admin/quiz/index.vue
Due: go-vet

change format
  app/pages/admin/quiz/index.vue
Due: none

reformate file
  app/pages/admin/quiz/index.vue
Due: none

add function require
  app/pages/admin/quiz/index.vue
Due: none

download demo file added
  app/layouts/default.vue
  app/pages/admin/quiz/index.vue
  app/public/files/demo.csv
Due: none

remove library
  api/go.mod
Due: none

add row limit and fix routes
  api/constants/constant.go
  api/controllers/api/v1/quiz_utilities_controller.go
  api/go.mod
  api/go.sum
  api/pkg/structs/requests.go
  api/routes/main.go
  app/pages/admin/quiz/index.vue
Due: go-vet

resolve all changes
  api/controllers/api/v1/quiz_utilities_controller.go
  app/composables/quiz_operation.js
  app/pages/admin/quiz/index.vue
  app/public/files/demo.csv
Due: go-vet

Update main.go
  api/routes/main.go
Due: go-vet

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
