Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [--branch, master]
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: go-critic
    - id: go-mod-tidy
    - id: go-mod-vendor
- repo: local
  hooks:
  - id: go-vet
    name: "go-vet"
    entry: ./api/hooks/go-vet.sh
    files: '.go$'
    language: 'script'
    description: "Runs ``"
  - id: go-lint
    name: "go-lint"
    entry: ./api/hooks/go-lint.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `golangci-lint run -v ./api/...`"
  - id: go-test
    name: "go-test"
    entry: ./api/hooks/go-test.sh
    files: 'go.work$'
    language: 'script'
    description: "Runs `go-test`, requires https://github.com/gotestyourself/gotestsum"
  - id: node-lint
    name: "node-lint"
    entry: ./.husky/pre-commit
    files: 'package.json$'
    language: 'script'
    description: "Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum"

upgrade node version in ci
  .github/workflows/test-build-push-app.yaml
Due: none

upgrade node version in dockerfile and upgrade package-lock
  app/Dockerfile
  app/package-lock.json
Due: none

fix: breaking dependencies and vulnerabilities of frontend. (#33)
  .github/workflows/test-build-push-app.yaml
  app/.tool-versions
  app/Dockerfile
  app/components/Quiz/OptionsAnalysis.vue
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
  app/plugins/pinia-persistedstate.client.ts
  app/store/invitationcode.js
  app/store/music.js
  app/store/session.js
  app/store/userSubmittedAnswer.js
  app/store/userlist.js
  app/store/users.js
  app/test/components/Quiz/ShareQuizModal.test.js
  docker-compose.yaml
Due: node-lint

feat: optimize performance by adding Google Fonts preconnect and loading strategy, enhance build configuration for chunking and dependency optimization
  app/assets/scss/theme.scss
  app/nuxt.config.ts
Due: none

feat: refactor Vuetify plugin to import only necessary components and styles for improved performance
  app/plugins/vuetify.ts
Due: none

feat: enhance accessibility and semantics in FinalScoreBoard and WinnerCard components; add language attribute in nuxt.config.ts
  app/components/FinalScoreBoard.vue
  app/components/WinnerCard.vue
  app/nuxt.config.ts
  app/pages/admin/scoreboard.vue
Due: none

feat: improve perfomance and accessibility of application (#34)
  app/assets/scss/theme.scss
  app/components/FinalScoreBoard.vue
  app/components/WinnerCard.vue
  app/nuxt.config.ts
  app/pages/admin/scoreboard.vue
  app/plugins/vuetify.ts
Due: none

feat: update homepage title and contact email format; enhance lottie-player styling for responsiveness
  app/pages/index.vue
Due: none

feat: enhance button styling in Header component for improved visibility and consistency
  app/components/Header.vue
Due: none

feat : enhance landing page and header (#35)
  app/components/Header.vue
  app/pages/index.vue
Due: none

feat: add FontAwesome styles and configure CSS injection for improved performance
  app/nuxt.config.ts
  app/plugins/fontawesome.js
Due: none

refactor: use frame component in login page and use primary color to maintain consistency
  app/components/Frame.vue
  app/pages/account/login.vue
  app/pages/join/index.vue
Due: none

refactor: use frame component in login page and use primary color to maintain consistency (#37)
  app/components/Frame.vue
  app/pages/account/login.vue
  app/pages/join/index.vue
Due: none

feat: add FontAwesome styles and configure CSS injection for improved performance (#36)
  app/nuxt.config.ts
  app/plugins/fontawesome.js
Due: none

feat: download button in, create an api for that and handle the event
  api/.env.example
  api/constants/constant.go
  api/controllers/api/v1/download_quiz_report_controller.go
  api/go.mod
  api/go.sum
  api/pkg/structs/pdf_user_formate.go
  api/routes/main.go
  api/temp/bd198a35-7363-11f0-807d-a4bb6d71ea0a.pdf
  api/temp/d33e1e29-7684-11f0-a792-a4bb6d71ea0a.pdf
  api/utils/json_response.go
  api/utils/pdf_config.go
  app/components/reports/PageLayout.vue
Due: go-vet

feat: run pre-commit in actions
  .github/workflows/test-build-push-api.yaml
Due: none

fix: keep logo as it is on the center
  README.md
Due: none

fix: center the labels
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: badges alignment fix: rename LICENSE.txt -> LICENSE
  LICENSE
  README.md
Due: none

fix: update variable names and refactor PDF download logic
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/controllers/api/v1/download_quiz_report_controller.go
  api/pkg/structs/pdf_user_formate.go
  api/routes/main.go
  api/temp/bd198a35-7363-11f0-807d-a4bb6d71ea0a.pdf
  api/temp/d33e1e29-7684-11f0-a792-a4bb6d71ea0a.pdf
  api/utils/json_response.go
  api/utils/pdf_config.go
  app/components/reports/PageLayout.vue
Due: go-vet

fix: go report url
  README.md
Due: none

feat: migrate backend e2e test cases in k6 (#23)
  .gitignore
  load-test/config.json
  load-test/lib/auth/auth.js
  load-test/lib/http/client.js
  load-test/lib/utils/base-test.js
  load-test/lib/utils/config.js
  load-test/lib/utils/test-helpers.js
  load-test/run-all-tests.sh
  load-test/tests/analytics-board-admin-test.js
  load-test/tests/analytics-board-user-test.js
  load-test/tests/final-scoreboard-admin-test.js
  load-test/tests/final-scoreboard-user-test.js
  load-test/tests/image-upload-test.js
  load-test/tests/question-test.js
  load-test/tests/quiz-play-test.js
  load-test/tests/quiz-test.js
  load-test/tests/quiz-websocket-test.js
  load-test/tests/shared-quizzes-test.js
  load-test/tests/user-played-quiz-score-test.js
  load-test/tests/user-test.js
Due: none

fix: PDF download flow
  api/config/main.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/routes/main.go
  api/services/create_pdf.go
  api/utils/converter.go
  api/utils/pdf_config.go
  app/components/reports/PageLayout.vue
Due: go-vet

fix: format constants file and improve PDF generation logic
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/analytics_board_admin_controller.go
  api/services/create_pdf.go
  api/utils/converter_test.go
  api/utils/pdf_config.go
  app/components/reports/PageLayout.vue
Due: go-vet

feat: delete script for inconsistent kratos users
  api/cli/delete-orphaned.go
  api/cli/main.go
Due: go-vet

fix: remove unnecessary logs
  api/cli/delete-orphaned.go
Due: go-vet

inconsitent users using args
  api/cli/delete-orphaned.go
Due: go-vet

removing unused ory kratos token
  api/cli/delete-orphaned.go
Due: go-vet

feat: delete script for inconsistent kratos users (#48)
  api/cli/delete-orphaned.go
  api/cli/main.go
Due: go-vet

feat: add finish button in last question instead of skip button
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
Due: go-vet

fix: test cases for skip button not render during last question
  app/test/components/Quiz/QuestionSpace.test.js
Due: none

test: add test case for Finish button render during last question
  app/test/components/Quiz/QuestionSpace.test.js
Due: none

feat: add finish button in last question instead of skip button (#52)
  api/controllers/api/v1/quiz_socket_controller.go
  app/components/Quiz/QuestionSpace.vue
  app/components/Quiz/ScoreSpace.vue
  app/test/components/Quiz/QuestionSpace.test.js
Due: go-vet

feat: add pagination, filters, and CSV download in participants & questions reports
  api/config/main.go
  api/constants/constant.go
  api/controllers/api/v1/download_participants_controller.go
  api/controllers/api/v1/final_scoreboard_admin_controller.go
  api/controllers/api/v1/quiz_controller.go
  api/models/final_scoreboard_admin.go
  api/pkg/structs/csv.go
  api/pkg/structs/participants.go
  api/routes/main.go
  api/services/csv.go
  api/utils/download_csv.go
  api/utils/file_response.go
  api/utils/json_response.go
  app/components/reports/DownloadDropdown.vue
  app/components/reports/PageLayout.vue
  app/package-lock.json
  app/package.json
  app/pages/admin/reports/[id]/index.vue
Due: go-vet, node-lint

Changing the favicon
  app/nuxt.config.ts
  app/package-lock.json
  app/pages/join/index.vue
  app/public/favicon.ico
Due: none

fix: nuxt config
  app/nuxt.config.ts
Due: none

Feat/add fevicon (#80)
  app/nuxt.config.ts
  app/package-lock.json
  app/pages/join/index.vue
  app/public/favicon.ico
Due: none
