Repository Improwised/jovVix: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, go-lint, go-test, node-lint

go-vet:
  name: go-vet
  entry: ./api/hooks/go-vet.sh
  language: script
  description: Runs ``

go-lint:
  name: go-lint
  entry: ./api/hooks/go-lint.sh
  language: script
  description: Runs `golangci-lint run -v ./api/...`

go-test:
  name: go-test
  entry: ./api/hooks/go-test.sh
  language: script
  description: Runs `go-test`, requires https://github.com/gotestyourself/gotestsum

node-lint:
  name: node-lint
  entry: ./.husky/pre-commit
  language: script
  description: Runs `cd app && npm run lint -- --fix`, requires https://github.com/gotestyourself/gotestsum

feat: add logo of jovvix in header (#10)
  README.md
  app/components/Header.vue
  app/pages/account/login.vue
  app/pages/recovery.vue
  app/public/jovvix-logo.png
  app/test/components/Header.test.js
  public/jovvix-logo.webp
Due: none

Feat/readme modify (#13)
  README.md
Due: none

fix: update kratos config and API Ci
  .github/kratos-config.yaml
  .github/workflows/test-build-push-api.yaml
Due: none

fix: update kratos config and fixes App and API CI
  .github/kratos-config.yaml
  .github/workflows/test-build-push-api.yaml
  .github/workflows/test-build-push-app.yaml
Due: none

added the web p format of logo with white bg
  LICENSE.txt
  app/public/readme-logo.webp
Due: none

adding logo with white bg
  README.md
Due: none

fix: remove the backend e2e test cases
  api/controllers/api/v1/analytics_board_admin_controller_test.go
  api/controllers/api/v1/analytics_board_user_controller_test.go
  api/controllers/api/v1/auth_controller_test.go
  api/controllers/api/v1/dummyCSVForTesting/EmptyFile.csv
  api/controllers/api/v1/dummyCSVForTesting/avatar.png
  api/controllers/api/v1/dummyCSVForTesting/demo.csv
  api/controllers/api/v1/final_scoreboard_admin_controller_test.go
  api/controllers/api/v1/final_scoreboard_controller_test.go
  api/controllers/api/v1/health_controller_test.go
  api/controllers/api/v1/image_controller_test.go
  api/controllers/api/v1/metrics_controller_test.go
  api/controllers/api/v1/question_controller_test.go
  api/controllers/api/v1/quiz_controller_test.go
  api/controllers/api/v1/quiz_socket_controller_test.go
  api/controllers/api/v1/shared_quizzes_controller_test.go
  api/controllers/api/v1/user_controller_test.go
  api/controllers/api/v1/user_played_score_quiz_test.go
  api/controllers/api/v1/v1_test.go
Due: go-vet

fix: import missing prometheus metrics package and update go.mod
  api/go.mod
  api/go.sum
  api/routes/main.go
Due: go-vet

added the web p format of logo with white bg (#14)
  LICENSE.txt
  README.md
  app/public/readme-logo.webp
Due: none

fix: removed test cases in api ci
  .github/workflows/test-build-push-api.yaml
Due: none

fix: change runner to ubuntu-latest
  .github/workflows/test-build-push-api.yaml
Due: none

feat: add k6 test scripts for e2e test cases
  .gitignore
  load-test/config.json
  load-test/lib/auth/auth.js
  load-test/lib/http/client.js
  load-test/lib/utils/base-test.js
  load-test/lib/utils/config.js
  load-test/lib/utils/test-helpers.js
  load-test/main.js
  load-test/run-all-tests.sh
  load-test/tests/analytics-board-admin-test.js
  load-test/tests/analytics-board-user-test.js
  load-test/tests/final-scoreboard-admin-test.js
  load-test/tests/final-scoreboard-user-test.js
  load-test/tests/image-upload-test.js
  load-test/tests/question-test.js
  load-test/tests/quiz-test.js
  load-test/tests/quiz-websocket-test.js
  load-test/tests/shared-quizzes-test.js
  load-test/tests/user-played-quiz-score-test.js
  load-test/tests/user-test.js
Due: none

fix linting by removing unwanted code
  app/.eslintrc.cjs
  app/composables/user_operation.js
  app/pages/index.vue
  app/pages/recovery.vue
  app/test/components/Header.test.js
  app/test/components/Option.test.js
  app/test/components/Playground.test.js
  app/test/components/Quiz/Analysis.test.js
  app/test/components/Quiz/EditQuestion.test.js
  app/test/components/Quiz/OptionsAnalysis.test.js
  app/test/components/Quiz/QuestionAnalysis.test.js
  app/test/components/Quiz/QuestionSpace.test.js
  app/test/components/Quiz/ShareQuizAuthorizedUser.test.js
  app/test/components/Quiz/ShareQuizForm.test.js
  app/test/components/Quiz/ShareQuizModal.test.js
  app/test/components/Quiz/SocreSpace.test.js
  app/test/components/Quiz/UserAnalyticsSpace.test.js
  app/test/components/Quiz/WaitingSpace.test.js
  app/test/components/Reports/PageLayout.test.js
  app/test/components/Utils/StartQuiz.test.js
Due: none

fix: update golang version in dockerfile
  api/Dockerfile
Due: none

restore frontend dependencies to previous version
  app/package-lock.json
  app/package.json
Due: node-lint

fix: remove kratos configuration
  .github/identity.schema.json
  .github/kratos-config.yaml
Due: none

fix invalid origin format
  api/cli/api.go
Due: go-vet

chore: remove unwanted code
  load-test/lib/http/client.js
  load-test/lib/utils/test-helpers.js
  load-test/main.js
  load-test/tests/analytics-board-admin-test.js
  load-test/tests/analytics-board-user-test.js
  load-test/tests/final-scoreboard-admin-test.js
  load-test/tests/final-scoreboard-user-test.js
  load-test/tests/image-upload-test.js
  load-test/tests/quiz-test.js
  load-test/tests/user-played-quiz-score-test.js
Due: none

add quiz play test
  load-test/tests/quiz-play-test.js
Due: none

remove unused values from config.json of load-test
  load-test/config.json
Due: none

upgrade node version to 22.9.0 and silent scss migration warnning
  app/.tool-versions
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
Due: node-lint

replace @pinia-plugin-persistedstate/nuxt with pinia-plugin-persistedstate
  app/nuxt.config.ts
  app/package-lock.json
  app/package.json
Due: node-lint

fix docker compose file
  docker-compose.yaml
Due: none

configure pinia persistedstate
  api/cli/api.go
  app/nuxt.config.ts
  app/plugins/pinia-persistedstate.client.ts
  app/store/invitationcode.js
  app/store/music.js
  app/store/session.js
  app/store/userSubmittedAnswer.js
  app/store/userlist.js
  app/store/users.js
Due: go-vet

fix sharequizmodal test
  app/test/components/Quiz/ShareQuizModal.test.js
Due: none

chore: remove unwanted allow origins
  api/cli/api.go
Due: go-vet

fix: breaking changes and remove e2e test cases. (#15)
  api/cli/api.go
  api/controllers/api/v1/analytics_board_admin_controller_test.go
  api/controllers/api/v1/analytics_board_user_controller_test.go
  api/controllers/api/v1/auth_controller_test.go
  api/controllers/api/v1/dummyCSVForTesting/EmptyFile.csv
  api/controllers/api/v1/dummyCSVForTesting/avatar.png
  api/controllers/api/v1/dummyCSVForTesting/demo.csv
  api/controllers/api/v1/final_scoreboard_admin_controller_test.go
  api/controllers/api/v1/final_scoreboard_controller_test.go
  api/controllers/api/v1/health_controller_test.go
  api/controllers/api/v1/image_controller_test.go
  api/controllers/api/v1/metrics_controller_test.go
  api/controllers/api/v1/question_controller_test.go
  api/controllers/api/v1/quiz_controller_test.go
  api/controllers/api/v1/quiz_socket_controller_test.go
  api/controllers/api/v1/shared_quizzes_controller_test.go
  api/controllers/api/v1/user_controller_test.go
  api/controllers/api/v1/user_played_score_quiz_test.go
  api/controllers/api/v1/v1_test.go
Due: go-vet

feat: added test case for api
  .github/identity.schema.json
  .github/kratos-config.yaml
  .github/workflows/test-build-push-api.yaml
Due: none

feat: change runner to ubuntu-latest for api
  .github/workflows/test-build-push-api.yaml
Due: none

feat: remove kratos and database dependency
  .github/workflows/test-build-push-api.yaml
Due: none

feat: remove kratos configuration
  .github/identity.schema.json
  .github/kratos-config.yaml
Due: none

feat: remove kratos configuration ref
  .github/workflows/test-build-push-api.yaml
Due: none

feat: added test case for api (#27)
  .github/workflows/test-build-push-api.yaml
Due: none

fix linting by removing unwanted code (#25)
  app/.eslintrc.cjs
  app/composables/user_operation.js
  app/pages/index.vue
  app/pages/recovery.vue
  app/test/components/Header.test.js
  app/test/components/Option.test.js
  app/test/components/Playground.test.js
  app/test/components/Quiz/Analysis.test.js
  app/test/components/Quiz/EditQuestion.test.js
  app/test/components/Quiz/OptionsAnalysis.test.js
  app/test/components/Quiz/QuestionAnalysis.test.js
  app/test/components/Quiz/QuestionSpace.test.js
  app/test/components/Quiz/ShareQuizAuthorizedUser.test.js
  app/test/components/Quiz/ShareQuizForm.test.js
  app/test/components/Quiz/ShareQuizModal.test.js
  app/test/components/Quiz/SocreSpace.test.js
  app/test/components/Quiz/UserAnalyticsSpace.test.js
  app/test/components/Quiz/WaitingSpace.test.js
  app/test/components/Reports/PageLayout.test.js
  app/test/components/Utils/StartQuiz.test.js
Due: none

feat: added docker hub image repository for ui and api
  .github/workflows/test-build-push-api.yaml
  .github/workflows/test-build-push-app.yaml
Due: none

feat: changed repository env
  .github/workflows/test-build-push-api.yaml
  .github/workflows/test-build-push-app.yaml
Due: none

feat: added Docker-Hub image repository for ui and api (#31)
  .github/workflows/test-build-push-api.yaml
  .github/workflows/test-build-push-app.yaml
Due: none

adding the first version changelog file
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  CHANGELOG.md
Due: none

Path conditions:
  go-vet: any of: .go$
  go-lint: any of: go.work$
  go-test: any of: go.work$
  node-lint: any of: package.json$
